<footer class="site-footer">
  <section class="site-links">
    <h1>Site Links</h1>

    <ul class="footer-link-list">
      <li>
        <a href="/about/" title="A basic description of our goals and purposes">About</a>
      </li>

      <li>
        <a href="/contact/" title="Send us a comment, question, suggestion, or news tip">Contact</a>
      </li>

      <li>
        <a href="/review-copies/" title="Send us titles to review!">Review Copies</a>
      </li>


      <li>
        <a href="/advertise/" title="Want to advertise on our blog?">Advertise with Us</a>
      </li>

      <li>
        <a href="/policies/" title="Official policies and disclaimers regarding our content">Policies/Disclaimers</a>
      </li>

      <li>
        <a href="/reuse/" rel="license" title="More details on our Creative Commons License">Reusing Our Content</a>
      </li>

      <li>
        <a href="/history/" title="The history of our humble website">Site History</a>
      </li>

      <li>
        <a href="/glossary/" title="A glossary of confusing terms that we always forget to explain">Glossary</a>
      </li>

      <li>
        <a href="/staff/" title="The wonderful people who write for us">Staff</a>
      </li>

      <li>
        <a href="/help-wanted/" title="Apply to write for Ani-Gamers">Help Wanted!</a>
      </li>
    </ul>
  </section>

  <section class="blogroll">
    <h1>Friends/Mortal Enemies</h1>


      <ul>

          <li>
            <a href="http://www.anime3000.com/" title="Large anime news/review site with lots of video and podcast content" rel="external">Anime 3000</a>


          </li>

          <li>
            <a href="http://animealmanac.com/" title="Now-defunct anime blog with great commentary on the industry and fan culture" rel="external">Anime Almanac</a>


          </li>

          <li>
            <a href="http://www.animediet.net/" title="Group-run anime blog" rel="external">Anime Diet</a>


          </li>

          <li>
            <a href="http://awopodcast.com/" title="Anime podcast featuring in-depth reviews, news, and commentary" rel="external">Anime World Order</a>


          </li>

          <li>
            <a href="http://www.animeyume.com/" title="Fansite-turned-anime-blog. A longtime friend of Ani-Gamers." rel="external">Anime Yume</a>


          </li>

          <li>
            <a href="http://colonydrop.com/" title="Sarcastic, cynical, brilliant, hilarious anime critics and old-school fans." rel="external">Colony Drop</a>


          </li>

          <li>
            <a href="http://crunchyroll.libsyn.com" title="Evan's anime podcast on Crunchyroll" rel="external">Crunchycast</a>


          </li>

          <li>
            <a href="http://daveandjoel.com/" title="Hilarious anime/video game podcasters." rel="external">Fast Karate For the Gentleman</a>


          </li>

          <li>
            <a href="http://fightbait.com/" title="A whole family of anime, manga, and video game podcasts" rel="external">Fightbait.com</a>


          </li>

          <li>
            <a href="http://insert-disc.com/" title="Anime, manga, video game, and cult film blog. Ani-Gamers' shonen rivals." rel="external">Insert-Disc</a>


          </li>

          <li>
            <a href="http://ninjaconsultant.livejournal.com/" title="A geeky NYC couple chat about anime and manga. Very smart discussions." rel="external">Ninja Consultant Podcast</a>


          </li>

          <li>
            <a href="http://ogiuemaniax.wordpress.com/" title="Anime blog run by a superfan of Ogiue (from Genshiken). Very smart, reasoned commentary." rel="external">Ogiue Maniax</a>


          </li>

          <li>
            <a href="http://organizationasg.kokidokom.net/" title="Team-run anime/manga/Japanese pop culture blog" rel="external">Organization ASG</a>


          </li>

          <li>
            <a href="http://otakuusamagazine.com/" title="Magazine about Japanese anime, manga, games, fashion, music, and more. Evan (Minto) is a contributor!" rel="external">Otaku USA Magazine</a>


          </li>

          <li>
            <a href="http://www.out-of-timeproductions.com/" title="Geeky video production company. They mostly cover conventions." rel="external">Out-Of-Time Productions</a>


          </li>

          <li>
            <a href="http://reversethieves.com/" title="Detective-themed anime/manga blogger/podcaster duo." rel="external">Reverse Thieves</a>


          </li>

          <li>
            <a href="http://www.studyofanime.com/" title="Web hub for all things Charles Dunbar" rel="external">Study of Anime</a>


          </li>

          <li>
            <a href="http://www.fandompost.com/" title="Ink writes anime articles for this blog." rel="external">The Fandom Post</a>


          </li>

          <li>
            <a href="http://thosedamncartoons.wordpress.com/" title="Bradley C. Meek's personal anime blog." rel="external">Those Damn Cartoons</a>


          </li>

          <li>
            <a href="http://www.theotagal.com/" title="Anime/manga podcast" rel="external">Viga The Otagal</a>


          </li>

          <li>
            <a href="https://wavemotioncannon.com/" title="Anime blog with lots of detailed analysis and interviews" rel="external">Wave Motion Cannon</a>


          </li>

      </ul>

  </section>

  <section class="copyright">
    <small>
      <p>© <span itemprop="copyrightHolder">Evan Minto</span> <span itemprop="copyrightYear">2004–2018</span></p>
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Ani-Gamers</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br>Permissions beyond the scope of this license are available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.anigamers.com/reuse/" rel="cc:morePermissions">http://www.anigamers.com/reuse/</a>.
    </small>
  </section>
</footer>
