<footer class="site-footer">
  <section class="site-links">
    <h1>Site Links</h1>
    {{render '@footer-link-list'}}
  </section>

  <section class="blogroll">
    <h1>Friends/Mortal Enemies</h1>
    {{render '@footer-link-list'}}
  </section>

  {{render '@copyright'}}
</footer>
