<div class="summary">
  <h1>Headline</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue tellus lacus, a consectetur massa rhoncus aliquet. Nullam sit amet metus dictum sapien tincidunt suscipit eu sed libero. Phasellus at ante sed nunc blandit euismod quis quis ligula. Etiam facilisis mi sit amet leo fermentum ullamcorper. Aenean sagittis, risus at lacinia lobortis, ligula nisi gravida est, sit amet tincidunt turpis libero ut augue. Aenean ac ante ac elit placerat gravida. Proin tristique finibus lacus, et aliquet tellus molestie pulvinar. In consectetur urna id risus tincidunt aliquam. Curabitur id tristique neque. Aenean at consectetur magna. Proin ac maximus lacus, et vehicula odio. Cras luctus felis non ultricies accumsan. Nunc sed accumsan arcu, eget porttitor tellus. Sed a tempus ipsum.</p>
</div>
