body {
  width: 100%; }

.entry-header .title {
  font-family: Oswald, Verdana, sans-serif;
  font-weight: normal; }

.entry-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8rem; }
  .entry-header .titles {
    flex: 1 1 100%;
    margin-bottom: 1rem; }
  .entry-header .title {
    margin-bottom: 0;
    font-size: 1.95312rem;
    line-height: 1.365333333333333; }
    .entry-header .title a {
      padding: 0;
      color: #da332b;
      text-decoration: none; }
      .entry-header .title a:focus, .entry-header .title a:hover {
        background: none;
        color: #992224; }
  .entry-header .subtitle {
    margin-top: 0.2em;
    font-size: 1rem;
    line-height: 1.6; }
  .entry-header .byline {
    flex: 0 1 auto;
    margin: 0 2em 0.5em 0;
    font-style: normal; }
    .entry-header .byline ul {
      display: inline; }
      .entry-header .byline ul li {
        display: inline; }
        .entry-header .byline ul li::after {
          content: "," " "; }
      .entry-header .byline ul li:nth-last-child(2)::after {
        content: "," " " "and" " "; }
      .entry-header .byline ul li:first-child:nth-last-child(2)::after {
        content: " " "and" " "; }
      .entry-header .byline ul li:last-child::after {
        content: ''; }
