body {
  width: 100%; }

.page-links {
  padding: 1em;
  font-size: 1.25rem;
  text-align: center; }
  .page-links .curr-page {
    margin: 0 0.6em; }
  .page-links a {
    box-shadow: 0px 1px 2px rgba(29, 35, 38, 0.3);
    display: inline-block;
    height: 1.6em;
    margin-bottom: 0.2em;
    overflow: hidden;
    vertical-align: middle;
    width: 1.6em;
    background: #da332b;
    color: #fdfefe;
    text-decoration: none;
    border-radius: 0.8em; }
    .page-links a:hover {
      box-shadow: 0px 2px 3px rgba(29, 35, 38, 0.3);
      background: #992224; }
    .page-links a::before {
      box-sizing: border-box;
      display: block;
      height: 100%;
      padding: 0.1em 0 0 0;
      width: 100%;
      font-weight: bold; }
  .page-links .prev-link::before {
    content: '\003c';
    padding-right: 0.1em; }
  .page-links .next-link::before {
    content: '\003e';
    padding-left: 0.1em; }
