<table class="podcast-episode-list">
  <thead>
    <tr>
      <th>Episode</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href="/podcasts/092-fate-stay-under-the-kotatsu">AGP#092 – Fate/stay under the kotatsu</a>
      </td>

      <td>02/26/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/091-best-of-2017-with-nate-ming">AGP#091 – Best of 2017 with Nate Ming</a>
      </td>

      <td>02/13/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/oldtaku-no-radio/the-great-passage">Oldtaku no Radio #017 – The Great Passage<span></span></a>
      </td>

      <td>02/12/18</td>
    </tr>

    <tr>
      <td>
        <a href="https://www.awopodcast.com/2018/01/anime-world-order-show-161-no-kentucky-fried-movie-or-shigeru-mizuki-references.html">Anime World Order Show # 161 – No Kentucky Fried Movie or Shigeru Mizuki References</a>
      </td>

      <td>01/29/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/090-the-yuasa-disrespecter">AGP#090 – The Yuasa Disrespecter</a>
      </td>

      <td>01/27/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/oldtaku-no-radio/bubblegum-crisis">Oldtaku no Radio #016 – Bubblegum Crisis<span></span></a>
      </td>

      <td>01/12/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/089-flat-earth-anime">AGP#089 – Flat Earth Anime</a>
      </td>

      <td>01/08/18</td>
    </tr>

    <tr>
      <td>
        <a href="/podcasts/oldtaku-no-radio/casshern-sins">Oldtaku no Radio #015 – Casshern Sins (Reverse Thieves Secret Santa Episode)<span></span></a>
      </td>

      <td>12/27/17</td>
    </tr>
  </tbody>
</table>