.collage {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-gap: 1.5em;
  padding: 1.5em;
}

.collage > * {
  margin: 0;
}

.interactive-collage {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
  justify-content: center;
}

.interactive-collage > * {
  flex: 0 0 auto;
  margin-bottom: 1.5rem;
}

.interactive-collage__container > :not(script) + * {
  margin-top: 0;
}

.interactive-collage > :not(script) + * {
  margin-left: 1.5rem;
}