:root {
  --header-z-index: 10;
  --border-radius: 3px;
  --header-icon-size: 1.4rem;
  --menu-icon-size: 2.1rem;
  --box-shadow-color: rgba(29, 35, 38, 0.3);
  --box-shadow: 0 0.0625em 0.125em var(--box-shadow-color);
  --text-shadow-color: rgba(29, 35, 38, 0.15);
  --font-scale: 1.125;
  --font-size-base: calc(0.85rem + 0.5vw);
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-scale));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale));
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale));
  --font-size-md: var(--font-size-base);
  --font-size-sm: calc(var(--font-size-md) / var(--font-scale));
  --font-size-xs: calc(var(--font-size-sm) / var(--font-scale));
  --font-size-xxs: calc(var(--font-size-xs) / var(--font-scale));
  --line-height-md: 1.5;
  --font-family-heading: Oswald, Verdana, sans-serif;
  --font-family-emphasis: "Open Sans Condensed", Futura, sans-serif;
  --font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --nihon-red: #de4c43;
  --nihon-red-trans: rgba(222, 76, 67, 0.5);
  --blood-red: #992224;
  --sky-blue: #2bb5c1;
  --pacific-blue: #0c4365;
  --light-red: #c27a7c;
  --pacific-blue-hover: #3d6984;
  --yuurei-blue: #dde2e5;
  --off-white: rgb(246, 247, 249);
  --cool-blue: #dde2e5;
  --cool-blue-hover: #dee3e6;
  --gray-blue: #dde2e5;
  --primary-color: #de4c43;
  --primary-dark-color: #992224;
  --primary-light-color: #e57069;
  --secondary-color: #2bb5c1;
  --secondary-dark-color: #0c4365;
  --secondary-light-color: #55c4cd;
  --base-color: #e0e7e8;
  --base-dark-color: #c4c4c4;
  --secondary-base-color: #fdfefe;
  --secondary-base-dark-color: #e0e7e8;
  --twitter-blue: #55acee;
}
