body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 0; }
  body[class=""] {
    padding-top: 0;
    display: block; }

@media (min-height: 35.5em) and (min-width: 35.5em) {
  body {
    padding-top: 3.5em; } }

main > .inner {
  max-width: 66ch; }

@media (min-width: 35.5em) {
  body {
    padding-top: 3em; }
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3; } }

/* Home Page */
.home-page main > .inner {
  max-width: 78rem;
  text-align: center; }

.home-page .entry-list {
  text-align: left; }

.home-page .columns-showcase {
  margin-top: 3rem; }

/* Entry Page */
.entry-page main > .inner {
  max-width: 66ch; }

@media (min-width: 35.5em) {
  :root {
    --font-scale: 1.25; }
  /* Home Page */
  .home-page .entry-list > :first-child .entry-preview > a {
    padding-top: 12em; }
  /* Entry Page */
  .entry-page .summary--staff {
    max-width: 45em;
    text-align: left; }
    .entry-page .summary--staff::after {
      content: '';
      display: table;
      clear: both; }
    .entry-page .summary--staff p {
      padding-left: 3.75em; }
    .entry-page .summary--staff .flexible-image {
      float: left;
      margin-bottom: 1.5em;
      margin-right: 1.5em;
      shape-outside: border-box;
      shape-margin: 1.5em; }
  .entry-page .entry-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75em; }
    .entry-page .entry-header h1,
    .entry-page .entry-header p {
      grid-column: auto / span 2; }
  @supports (display: grid) {
    /* Entry Page */
    .entry-page .entry-header > * {
      margin: 0; }
    .entry-page .entry-timestamp {
      text-align: right; } }
  /* Entry Search Page */
  .entry-search-page .entry-search-results-list {
    margin-top: 3rem; }
  .entry-search-page .summary--entry-search-result .flexible-image {
    width: 9em;
    height: 9em; }
  /* Entry Archive Page */
  .entry-archive-page .entry-search-results-list {
    margin-top: 3rem; }
  /* Staff Page */
  .staff-page .staff-list {
    margin-top: 3rem; } }

@media (min-width: 48em) {
  /* Home Page */
  .home-page .entry-list > :first-child .summary {
    padding-top: 18em; } }

@media (min-width: 79em) {
  /* Home Page */
  .home-page .entry-list > :first-child .summary {
    padding-top: 24em; } }
