body {
  width: 100%; }

.entry {
  padding: 1.6rem 0; }
  .entry a:focus img, .entry a:hover img {
    box-shadow: 0px 2px 3px rgba(29, 35, 38, 0.3); }
  .entry .entry-body a,
  .entry .entry-footer a {
    --inline-padding: 0.15ch;
    padding-left: var(--inline-padding);
    padding-right: var(--inline-padding);
    margin-left: calc(var(--inline-padding) * -1);
    margin-right: calc(var(--inline-padding) * -1); }
