<ul class="column-list">
  <li>
    <a class="wrapper-link" href="">
      {{render '@summary--column'}}
    </a>
  </li>

  <li>
    <a class="wrapper-link" href="">
      {{render '@summary--column'}}
    </a>
  </li>

  <li>
    <a class="wrapper-link" href="">
      {{render '@summary--column'}}
    </a>
  </li>
</ul>
