<header id="site_header" class="site-header">
  <div class="content">
    {{render '@logo'}}
    {{> @main-menu-link}}
    {{> @main-menu}}
    {{> @header-search-link}}
    {{> @header-search-form}}
  </div>
</header>