<header id="site_header" class="site-header">
  <div class="content">
    {{render '@logo'}}
    {{> @main-menu-link}}
    {{render '@main-menu'}}
    {{> @header-search-link}}
    {{render '@header-search-form'}}
  </div>
</header>