<div class="content">
  <a href="#main_content" class="skip-to-main-content-link js-skip-to-main-content">Skip to main content</a>

  {{render '@site-header'}}

  <main id="main_content">
    <div class="content">
      <article class="entry">
        <div class="content">
          <div class="entry-body">
            {{render '@podcast-details'}}
          </div>
        </div>
      </article>
    </div>
  </main>

  {{render '@site-footer'}}
</div>
