<ul class="site-social-links">
  {{#each socialLinks}}
    <li>
      <a href="" class="wrapper-link">
        <svg viewBox="0 0 120 120">
          <use xlink:href="{{svgHref}}"></use>
          <title>{{title}}</title>
        </svg>
      </a>
    </li>
  {{/each}}
</ul>
