<form class="simple-text-form header-search-form" action="/search" method="get" role="search">
  <label>
    <span>Query</span>
    <input autofocus="" name="q" placeholder="Enter search terms..." itemprop="query-input" type="search">
  </label>

  <button class="button-icon" type="submit">
    <svg class="svg-icon -with-stroke" viewBox="0 0 120 120" width="30" aria-hidden="true">
      <use xlink:href="/images/icons.svg#icon_magnifying_glass"></use>
    </svg>

    Search
  </button>

  <a class="wrapper-link header-search-form-close-link js-header-search-form-close-link" href="#header_search_link" aria-controls="header_search_link">
    <svg class="svg-icon -with-stroke" viewBox="0 0 120 120" width="30" aria-label="Close Search Form">
      <use xlink:href="/uploads/site/icons.svg#icon_x"></use>
      <title>Close Search Form</title>
    </svg>
  </a>
</form>
