body {
  width: 100%; }

.suggested-entries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .suggested-entries-list > li {
    flex: 0 0 48%; }

.entry-body img.type-minor, .entry-body img.type-minor-alt {
  max-width: 40.13158%; }

.entry-body img.type-minor {
  float: right;
  margin: 0 0 2.63158% 2.63158%; }

.entry-body img.type-minor-alt {
  float: left;
  margin: 0 2.63158% 2.63158% 0; }

.entry-body figure.type-minor, .entry-body figure.type-minor-alt {
  max-width: 40.13158%;
  text-align: left; }

.entry-body figure.type-minor {
  float: right;
  margin: 0 0 2.63158% 2.63158%; }

.entry-body figure.type-minor-alt {
  float: left;
  margin: 0 2.63158% 2.63158% 0; }

.entry-body .sidebar.type-minor, .entry-body .sidebar.type-minor-alt {
  max-width: 48.68421%; }

.entry-body .sidebar.type-minor {
  margin: 0 0 2.63158% 2.63158%; }

.entry-body .sidebar.type-minor-alt {
  margin: 0 2.63158% 2.63158% 0; }

.entry-body p.pull-quoted.type-minor::before, .entry-body p.pull-quoted.type-minor-alt::before {
  text-align: left;
  max-width: 40.13158%; }

.entry-body p.pull-quoted.type-minor::before {
  float: right;
  margin: 0 0 2.63158% 2.63158%; }

.entry-body p.pull-quoted.type-minor-alt::before {
  float: left;
  margin: 0 2.63158% 2.63158% 0; }

.entry-body p.pull-quoted.type-offset.type-minor::before {
  border-width: 0 0 0 0.16em; }

.entry-body p.pull-quoted.type-offset.type-minor-alt::before {
  border-width: 0 0.16em 0 0; }

.entry-body p.pull-quoted.type-emphasize::before {
  border-width: 0.16em 0; }

.entry-body p.pull-quoted.type-emphasize.type-minor::before {
  border-width: 0.16em 0.16em 0 0;
  padding: 0.4em;
  border-radius: 0 0.1875rem 0 0; }

.entry-body p.pull-quoted.type-emphasize.type-minor-alt::before {
  border-width: 0.16em 0 0 0.16em;
  padding: 0.4em;
  border-radius: 0.1875rem 0 0 0; }

@media screen and (min-width: 53.75rem) {
  main > .content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 0; }
  .entry {
    flex: 0 1 82.89474%;
    margin: 0 auto;
    padding: 2rem 0; }
  .entry-body img.type-minor, .entry-body img.type-minor-alt {
    max-width: 38.09524%; }
  .entry-body img.type-minor {
    margin: 0 0 3.1746% 3.1746%; }
  .entry-body img.type-minor-alt {
    margin: 0 3.1746% 3.1746% 0; }
  .entry-body figure.type-minor, .entry-body figure.type-minor-alt {
    max-width: 38.09524%; }
  .entry-body figure.type-minor {
    margin: 0 0 3.1746% 3.1746%; }
  .entry-body figure.type-minor-alt {
    margin: 0 3.1746% 3.1746% 0; }
  .entry-body .image-pair {
    column-gap: 1.5873%; }
  .entry-body .sidebar {
    padding: 3.1746%; }
    .entry-body .sidebar.type-minor, .entry-body .sidebar.type-minor-alt {
      max-width: 48.4127%; }
    .entry-body .sidebar.type-minor {
      margin: 0 0 3.1746% 3.1746%; }
    .entry-body .sidebar.type-minor-alt {
      margin: 0 3.1746% 3.1746% 0; }
  .entry-body p.pull-quoted::before {
    font-size: 1.95312rem; }
  .entry-body p.pull-quoted.type-minor::before, .entry-body p.pull-quoted.type-minor-alt::before {
    max-width: 38.09524%; }
  .entry-body p.pull-quoted.type-minor::before {
    margin: 0 0 3.1746% 3.1746%; }
  .entry-body p.pull-quoted.type-minor-alt::before {
    margin: 0 3.1746% 3.1746% 0; } }

@media screen and (min-width: 60rem) {
  .entry {
    flex: 0 1 65.78947%; }
  .entry-body img.type-minor, .entry-body img.type-minor-alt {
    max-width: 48%; }
  .entry-body img.type-minor {
    margin: 0 0 4% 4%; }
  .entry-body img.type-minor-alt {
    margin: 0 4% 4% 0; }
  .entry-body figure.type-minor, .entry-body figure.type-minor-alt {
    max-width: 48%; }
  .entry-body figure.type-minor {
    margin: 0 0 4% 4%; }
  .entry-body figure.type-minor-alt {
    margin: 0 4% 4% 0; }
  .entry-body .image-pair {
    column-gap: 2%; }
  .entry-body .sidebar {
    padding: 4%;
    font-size: 1rem; }
    .entry-body .sidebar h1 {
      font-size: 1.25rem; }
    .entry-body .sidebar.type-minor, .entry-body .sidebar.type-minor-alt {
      max-width: 48%; }
    .entry-body .sidebar.type-minor {
      margin: 0 0 4% 4%; }
    .entry-body .sidebar.type-minor-alt {
      margin: 0 4% 4% 0; }
  .entry-body p.pull-quoted.type-minor::before, .entry-body p.pull-quoted.type-minor-alt::before {
    max-width: 35%; }
  .entry-body p.pull-quoted.type-minor::before {
    margin: 0 0 4% 4%; }
  .entry-body p.pull-quoted.type-minor-alt::before {
    margin: 0 4% 4% 0; }
  .entry-header {
    font-size: 1rem; }
    .entry-header .title {
      font-size: 2.44141rem;
      line-height: 1.310717986737172; }
    .entry-header .subtitle {
      font-size: 1.25rem; }
  .topic-info .topics {
    font-size: 1.25rem; }
  .entry-body {
    font-size: 1.25rem; }
    .entry-body h2 {
      font-size: 1.95312rem; }
    .entry-body h3 {
      font-size: 1.5625rem; }
    .entry-body h4 {
      font-size: 1.25rem; }
    .entry-body .column-note {
      font-size: 1rem; } }

@media screen and (min-width: 80rem) {
  main > .content {
    background: transparent;
    border-radius: none;
    box-shadow: none; }
  .entry {
    display: flex;
    flex: 1 1 100%;
    background: #fdfefe;
    border-radius: 0.1875rem; }
    .entry > .content {
      flex: 0 0 65.78947%; } }
