body {
  width: 100%; }

body {
  --header-z-index: 10;
  --border-radius: 0.1875rem;
  --header-icon-size: 1.4rem;
  --menu-icon-size: 2.1rem;
  --box-shadow-color: rgba(29, 35, 38, 0.3);
  --text-shadow-color: rgba(29, 35, 38, 0.15);
  --font-size-xxl: 2.44141rem;
  --font-size-xl: 1.95312rem;
  --font-size-lg: 1.5625rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.8rem;
  --font-size-xxs: 0.64rem;
  --font-family-heading: Oswald, Verdana, sans-serif;
  --font-family-emphasis: "Open Sans Condensed", Futura, sans-serif;
  --font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --nihon-red: #da332b;
  --blood-red: #992224;
  --sky-blue: #2bb5c1;
  --pacific-blue: #0c4365;
  --light-red: #c27a7c;
  --pacific-blue-hover: #3d6984;
  --yuurei-blue: #dde2e5;
  --off-white: #f8f9fa;
  --cool-blue: #dde2e5;
  --cool-blue-hover: #dee3e6;
  --gray-blue: #dde2e5;
  --primary-color: #da332b;
  --primary-dark-color: #992224;
  --primary-light-color: #e15c55;
  --secondary-color: #2bb5c1;
  --secondary-dark-color: #0c4365;
  --secondary-light-color: #55c4cd;
  --base-color: #e0e7e8;
  --base-dark-color: #c4c4c4;
  --secondary-base-color: #fdfefe;
  --secondary-base-dark-color: #e0e7e8;
  --twitter-blue: #55acee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 3.5rem 0 0 0;
  font-size: 0.875rem;
  color: #0c4365;
  background-color: #e0e7e8; }

template {
  display: none !important; }

address,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

address {
  font-style: normal;
  display: inline; }

cite {
  font-style: italic; }

em cite,
i cite {
  font-style: normal; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  display: block;
  margin: 0 auto; }
  p + p {
    margin-top: 1.6rem; }

img {
  border: none; }

:-o-prefocus,
img {
  width: 100%; }

:-o-prefocus,
.image-pair {
  columns: auto !important; }

svg {
  width: 100%; }

a {
  transition: background 166.66667ms ease-out, color 166.66667ms ease-out, text-decoration 166.66667ms ease-out; }
  a:link, a:visited, a:active {
    text-decoration: none;
    border-radius: 0.1875rem;
    border-radius: var(--border-radius);
    text-decoration: underline;
    text-decoration: underline solid rgba(218, 51, 43, 0.5);
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto; }
  a:link, a:active {
    color: #da332b;
    color: var(--primary-color); }
  a:visited {
    color: #992224;
    color: var(--primary-dark-color); }
  a:focus, a:hover {
    color: #fdfefe;
    color: var(--secondary-base-color);
    background: #da332b;
    background: var(--primary-color); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.6rem 0; }

input {
  box-sizing: border-box;
  height: 2.4rem;
  padding: 0.8rem 2ch;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 0.8rem;
  font-family: inherit;
  line-height: 1;
  color: #0c4365;
  border: 0;
  border-radius: 0.1875rem;
  transition: border 166.66667ms ease-out;
  box-shadow: 0px 1px 2px rgba(29, 35, 38, 0.3); }
  input:focus {
    box-shadow: 0px 2px 3px rgba(29, 35, 38, 0.3); }

button {
  box-shadow: 0px 1px 2px rgba(29, 35, 38, 0.3);
  box-sizing: border-box;
  height: 2.4rem;
  padding: 0.8rem 2ch;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: inherit;
  background: #2bb5c1;
  color: #fdfefe;
  border: 0;
  border-radius: 0.1875rem;
  transition: background 166.66667ms ease-out, color 166.66667ms ease-out; }
  button:hover, button:focus {
    box-shadow: 0px 2px 3px rgba(29, 35, 38, 0.3);
    background: #0c4365; }
  button:not([type]), button[type="submit"] {
    background: #da332b; }
    button:not([type]):hover, button:not([type]):focus, button[type="submit"]:hover, button[type="submit"]:focus {
      background: #992224; }

main {
  margin-bottom: 1rem; }
