body {
  width: 100%; }

/* Legacy Entry */
.entry {
  /* NEW PULL QUOTE CLASSES
  ==================================*/
  /* OLD PULL QUOTE CLASSES
  ==================================*/
  /* SIDEBARS
  ==================================*/
  /* MISC
  ==================================*/ }
  .entry blockquote {
    margin: 1em 20px;
    color: #df4b3e;
    font-style: italic;
    border-left: #df4b3e 5px solid;
    padding-left: 15px; }
    .entry blockquote p {
      margin: .75em 0; }
  @media screen and (min-width: 35.5rem) {
    .entry img.left200, .entry img.left200Bleed {
      width: 200px;
      float: left;
      clear: left;
      margin: 0 10px 10px 0; }
    .entry img.right200 {
      width: 200px;
      float: right;
      margin: 0 0 10px 10px; }
    .entry img.center320 {
      width: 320px;
      display: block;
      margin: 0 auto 10px auto; }
    .entry img.left320, .entry img.left320Bleed {
      width: 320px;
      float: left;
      clear: left;
      margin: 0 10px 10px 0; }
    .entry img.right320 {
      width: 320px;
      float: right;
      clear: right;
      margin: 0 0 10px 10px; }
    .entry img.rightFree, .entry img.rightFreeBleed {
      max-width: 100%;
      float: right;
      clear: right;
      margin: 0 0 10px 10px; }
    .entry img.leftFree, .entry img.leftFreeBleed {
      max-width: 100%;
      float: left;
      margin: 0 10px 10px 0; }
    .entry img.centerFree, .entry img.centerFull, .entry img.centerFreeBleed {
      max-width: 100%;
      display: block;
      margin: 0 auto 10px auto; }
    .entry img.leftFreeBleed, .entry img.rightFreeBleed {
      max-width: 113%; }
    .entry img.centerFreeBleed {
      max-width: 113%; }
    .entry img.imgHalfLeft {
      float: left;
      width: 49.6%;
      margin-bottom: 10px; }
    .entry img.imgHalfRight {
      float: right;
      clear: right;
      width: 49.6%;
      margin-bottom: 10px; }
    .entry img.leftHalfBleed {
      width: 50%;
      float: left;
      clear: left;
      margin: 0 10px 10px 0; }
    .entry img.leftLargeBleed {
      width: 70%;
      float: left;
      clear: left;
      margin: 0 10px 10px 0; }
    .entry img.left320Bleed, .entry img.left200Bleed, .entry img.leftHalfBleed, .entry img.leftLargeBleed, .entry img.leftFreeBleed, .entry img.rightFreeBleed, .entry img.centerFreeBleed {
      margin-left: -13%;
      vertical-align: text-top; }
    .entry img.rightFreeBleed {
      margin-left: 0; } }
  .entry .pull-quote {
    display: block;
    color: #943f38;
    font-size: 1.7em;
    font-family: "Open Sans Condensed", Verdana, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.4em; }
    .entry .pull-quote.right, .entry .pull-quote.left {
      width: 200px; }
    .entry .pull-quote.right {
      float: right;
      clear: right;
      margin: 0 0 10px 15px; }
    .entry .pull-quote.left {
      float: left;
      clear: left;
      margin: 0 15px 10px 0; }
    .entry .pull-quote.bleed {
      margin-left: -13%; }
    .entry .pull-quote.left.bleed {
      width: 250px;
      margin-left: -13%;
      vertical-align: text-top; }
    .entry .pull-quote.center {
      margin: 0 0 10px 0;
      text-align: center;
      width: 100%; }
    .entry .pull-quote.center-right {
      float: right;
      clear: both;
      text-align: right;
      width: 80%; }
    .entry .pull-quote.center-left {
      float: left;
      clear: both;
      text-align: left;
      width: 80%; }
    .entry .pull-quote.center.bleed {
      width: 113%;
      margin-left: -13%;
      vertical-align: text-top; }
    .entry .pull-quote.border-right, .entry .pull-quote.border-left, .entry .pull-quote.border-top, .entry .pull-quote.border-bottom, .entry .pull-quote.border-top-bottom, .entry .pull-quote.border-corner {
      border: 0 solid #DF4B3E; }
    .entry .pull-quote.border-right {
      border-width: 0 5px 0 0;
      padding: 0 10px 0 0; }
    .entry .pull-quote.border-left {
      border-width: 0 0 0 5px;
      padding: 0 0 0 10px; }
    .entry .pull-quote.border-top {
      border-width: 5px 0 0 0;
      padding: 10px 0 0 0; }
    .entry .pull-quote.border-bottom {
      border-width: 0 0 5px 0;
      padding: 0 0 10px 0; }
    .entry .pull-quote.border-top-bottom {
      border-width: 5px 0 5px 0;
      padding: 10px 0 10px 0; }
    .entry .pull-quote.left.border-corner {
      border-width: 0 5px 5px 0;
      padding: 0 10px 10px 0; }
    .entry .pull-quote.right.border-corner {
      border-width: 0 0 5px 5px;
      padding: 0 0 10px 10px; }
  .entry .right-pull-quote,
  .entry .right-border-corner-pull-quote,
  .entry .right-border-left-pull-quote,
  .entry .right-border-bottom-pull-quote,
  .entry .left-pull-quote,
  .entry .left-border-corner-pull-quote,
  .entry .left-border-right-pull-quote,
  .entry .left-border-bottom-pull-quote,
  .entry .left-bleed-pull-quote,
  .entry .left-border-corner-bleed-pull-quote,
  .entry .left-border-right-bleed-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote,
  .entry .center-pull-quote,
  .entry .center-border-top-pull-quote,
  .entry .center-border-bottom-pull-quote,
  .entry .center-border-top-bottom-pull-quote,
  .entry .center-bleed-pull-quote,
  .entry .center-border-top-bleed-pull-quote,
  .entry .center-border-bottom-bleed-pull-quote,
  .entry .center-border-top-bottom-bleed-pull-quote,
  .entry .center-left-pull-quote,
  .entry .center-left-bleed-pull-quote,
  .entry .center-left-border-top-pull-quote,
  .entry .center-left-border-top-bleed-pull-quote,
  .entry .center-left-border-bottom-pull-quote,
  .entry .center-left-border-bottom-bleed-pull-quote,
  .entry .center-left-border-top-bottom-pull-quote,
  .entry .center-left-border-top-bottom-bleed-pull-quote,
  .entry .center-right-pull-quote,
  .entry .center-right-bleed-pull-quote,
  .entry .center-right-border-top-pull-quote,
  .entry .center-right-border-top-bleed-pull-quote,
  .entry .center-right-border-bottom-pull-quote,
  .entry .center-right-border-bottom-bleed-pull-quote,
  .entry .center-right-border-top-bottom-pull-quote,
  .entry .center-right-border-top-bottom-bleed-pull-quote {
    color: #943f38;
    display: block;
    font-family: "Open Sans Condensed", Verdana, Arial, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 auto 10px auto;
    width: 80%; }
  .entry .right-pull-quote,
  .entry .right-border-corner-pull-quote,
  .entry .right-border-left-pull-quote,
  .entry .right-border-bottom-pull-quote {
    float: right;
    margin: 0 0 10px 15px; }
  .entry .right-border-corner-pull-quote,
  .entry .right-border-left-pull-quote,
  .entry .right-border-bottom-pull-quote {
    border: 0 solid #DF4B3E; }
  .entry .right-border-corner-pull-quote {
    border-width: 0 0 5px 5px;
    padding: 0 0 10px 10px; }
  .entry .right-border-left-pull-quote {
    border-width: 0 0 0 5px;
    padding: 0 0 0 10px; }
  .entry .right-border-bottom-pull-quote {
    border-width: 0 0 5px 0;
    padding: 0 0 10px 0; }
  .entry .left-pull-quote,
  .entry .left-border-corner-pull-quote,
  .entry .left-border-right-pull-quote,
  .entry .left-border-bottom-pull-quote,
  .entry .left-bleed-pull-quote,
  .entry .left-border-corner-bleed-pull-quote,
  .entry .left-border-right-bleed-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote {
    float: left;
    clear: left;
    margin: 0 15px 10px 0; }
  .entry .left-bleed-pull-quote,
  .entry .left-border-corner-bleed-pull-quote,
  .entry .left-border-right-bleed-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote {
    width: 250px;
    margin-left: -13%;
    vertical-align: text-top; }
  .entry .left-border-corner-pull-quote,
  .entry .left-border-right-pull-quote,
  .entry .left-border-bottom-pull-quote,
  .entry .left-border-corner-bleed-pull-quote,
  .entry .left-border-right-bleed-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote {
    border: 0 solid #DF4B3E; }
  .entry .left-border-corner-pull-quote,
  .entry .left-border-corner-bleed-pull-quote {
    border-width: 0 5px 5px 0;
    padding: 0 10px 10px 0; }
  .entry .left-border-right-pull-quote,
  .entry .left-border-right-bleed-pull-quote {
    border-width: 0 5px 0 0;
    padding: 0 10px 0 0; }
  .entry .left-border-bottom-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote {
    border-width: 0 0 5px 0;
    padding: 0 0 10px 0; }
  .entry .center-pull-quote,
  .entry .center-border-top-pull-quote,
  .entry .center-border-bottom-pull-quote,
  .entry .center-border-top-bottom-pull-quote,
  .entry .center-bleed-pull-quote,
  .entry .center-border-top-bleed-pull-quote,
  .entry .center-border-bottom-bleed-pull-quote,
  .entry .center-border-top-bottom-bleed-pull-quote {
    margin: 0 0 10px 0;
    text-align: center; }
  .entry .center-border-top-pull-quote,
  .entry .center-border-bottom-pull-quote,
  .entry .center-border-top-bottom-pull-quote,
  .entry .center-border-top-bleed-pull-quote,
  .entry .center-border-bottom-bleed-pull-quote,
  .entry .center-border-top-bottom-bleed-pull-quote {
    border: 0 solid #DF4B3E; }
  .entry .center-border-top-pull-quote,
  .entry .center-border-top-bleed-pull-quote {
    border-width: 5px 0 0 0;
    padding: 10px 0 0 0; }
  .entry .center-border-bottom-pull-quote,
  .entry .center-border-bottom-bleed-pull-quote,
  .entry .center-left-border-bottom-pull-quote,
  .entry .center-left-border-bottom-bleed-pull-quote {
    border-width: 0 0 5px 0;
    padding: 0 0 10px 0; }
  .entry .center-border-top-bottom-pull-quote,
  .entry .center-border-top-bottom-bleed-pull-quote,
  .entry .center-left-border-top-bottom-pull-quote,
  .entry .center-left-border-top-bottom-bleed-pull-quote {
    border-width: 5px 0 5px 0;
    padding: 10px 0 10px 0; }
  .entry .center-left-pull-quote,
  .entry .center-left-bleed-pull-quote,
  .entry .center-left-border-top-pull-quote,
  .entry .center-left-border-top-bleed-pull-quote,
  .entry .center-left-border-bottom-pull-quote,
  .entry .center-left-border-bottom-bleed-pull-quote,
  .entry .center-left-border-top-bottom-pull-quote,
  .entry .center-left-border-top-bottom-bleed-pull-quote {
    text-align: left; }
  .entry .center-right-pull-quote,
  .entry .center-right-bleed-pull-quote,
  .entry .center-right-border-top-pull-quote,
  .entry .center-right-border-top-bleed-pull-quote,
  .entry .center-right-border-bottom-pull-quote,
  .entry .center-right-border-bottom-bleed-pull-quote,
  .entry .center-right-border-top-bottom-pull-quote,
  .entry .center-right-border-top-bottom-bleed-pull-quote {
    text-align: right; }
  .entry .left-bleed-pull-quote,
  .entry .left-border-corner-bleed-pull-quote,
  .entry .left-border-right-bleed-pull-quote,
  .entry .left-border-bottom-bleed-pull-quote {
    width: 250px;
    margin-left: -13%;
    vertical-align: text-top; }
  .entry .center-bleed-pull-quote,
  .entry .center-border-top-bleed-pull-quote,
  .entry .center-border-bottom-bleed-pull-quote,
  .entry .center-border-top-bottom-bleed-pull-quote,
  .entry .center-left-pull-quote,
  .entry .center-left-bleed-pull-quote,
  .entry .center-right-pull-quote,
  .entry .center-right-bleed-pull-quote {
    width: 113%;
    margin-left: -13%;
    vertical-align: text-top; }
  .entry .sidebar-right, .entry .sidebar-left, .entry .sidebar-left-bleed {
    background-color: #dfeaf1;
    border: 1px solid #becacf;
    border-radius: 0.1875rem;
    padding: 7px 10px;
    width: 45%; }
    .entry .sidebar-right h3, .entry .sidebar-left h3, .entry .sidebar-left-bleed h3 {
      color: #DF4B3E;
      font-family: "Open Sans Condensed", Verdana, Arial, sans-serif;
      font-size: 1.7em;
      font-weight: bold;
      margin: 0; }
    .entry .sidebar-right p, .entry .sidebar-left p, .entry .sidebar-left-bleed p {
      font-size: 0.85em; }
  .entry .sidebar-right {
    float: right;
    margin: 0 0 10px 10px; }
  .entry .sidebar-left,
  .entry .sidebar-left-bleed {
    float: left;
    margin: 0 10px 10px 0; }
  .entry .sidebar-left-bleed {
    margin-left: -13%;
    vertical-align: text-top; }
  .entry hr {
    width: 100%; }
