body {
  width: 100%; }

.menu-toggle {
  flex: 0 1 14.47368%; }

.menu-label {
  display: block;
  width: 1.4rem; }
  .menu-label > svg {
    display: block;
    stroke: currentColor;
    stroke-width: 15px; }

.main-menu-link {
  order: 0; }

.main-menu-close-link {
  margin-top: 1.5rem; }

.header-search-link {
  order: 2; }
  .header-search-link .svg-icon {
    height: 1.4rem; }

.main-menu:target,
[aria-expanded="true"] + .main-menu {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  text-align: center; }
  .main-menu:target nav,
  [aria-expanded="true"] + .main-menu nav {
    font-size: 2rem; }
  .main-menu:target .meta-links,
  [aria-expanded="true"] + .main-menu .meta-links {
    margin-top: 3rem; }
  .main-menu:target .site-sections,
  [aria-expanded="true"] + .main-menu .site-sections {
    display: block;
    font-size: 1.5625rem; }
    .main-menu:target .site-sections li,
    [aria-expanded="true"] + .main-menu .site-sections li {
      display: block; }
  .main-menu:target .meta-links,
  [aria-expanded="true"] + .main-menu .meta-links {
    justify-content: center; }
    .main-menu:target .meta-links li > a,
    [aria-expanded="true"] + .main-menu .meta-links li > a {
      width: 2.1rem;
      height: 2.1rem; }

[aria-expanded="false"] + .main-menu {
  display: none; }

.header-search-form:target,
[aria-expanded="true"] + .header-search-form {
  display: block;
  display: flex; }

.header-search-form:target {
  flex: 1 1 100%;
  margin-top: 0.8rem; }

[aria-expanded="true"] + .header-search-form {
  flex: 1 1 auto;
  margin-top: 0; }

[aria-expanded="false"] + .header-search-form {
  display: none; }

.site-header {
  box-shadow: 0px 2px 3px rgba(29, 35, 38, 0.3);
  display: flex;
  align-items: stretch;
  min-height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  background: #fdfefe; }
  .site-header.-search-open .logo,
  .site-header.-search-open .main-menu-link,
  .site-header.-search-open .main-menu,
  .site-header.-search-open .header-search-link {
    display: none; }
  .site-header > .content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em; }

body.menu-open {
  overflow: hidden; }
  body.menu-open .site-header {
    align-content: flex-start;
    height: 100%;
    overflow: auto; }

@media (print) {
  .site-header {
    display: none; } }
