<div id="main_menu" class="menu main-menu" tabindex="-1">
  <nav itemscope="" itemtype="http://schema.org/SiteNavigationElement">
    {{render '@site-sections'}}
  </nav>

  {{render '@meta-links'}}

  <a class="main-menu-close-link js-main-menu-close-link" href="#main_menu_link" aria-controls="main_menu_link">Close Menu</a>
</div>