{{render '@site_header'}}

<main>
  <div class="inner">
    <h1>Archive: January 1970</h1>
    {{render '@entry_search_results_list'}}
    {{render '@pagination'}}
  </div>
</main>

{{render '@site_footer'}}
