<header class="site-header js-site-header">
  <div class="inner">
    {{render '@site_logo'}}
    {{render '@menu_toggle'}}
    {{> '@site_links'}}
    {{render '@search_toggle'}}
    {{render '@search_form'}}
  </div>
</header>