<section class="copyright">
  <small>
    <p>© <span itemprop="copyrightHolder">Evan Minto</span> <span itemprop="copyrightYear">2004–2018</span></p>
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Ani-Gamers</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br>Permissions beyond the scope of this license are available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.anigamers.com/reuse/" rel="cc:morePermissions">http://www.anigamers.com/reuse/</a>.
  </small>
</section>