<div class="content">
  <a href="#main_content" class="skip-to-main-content-link js-skip-to-main-content">Skip to main content</a>

  {{render '@site-header'}}

  <main id="main_content">
    <form class="search-page-form" method="get" action="">
    <input
      class="search-page-query"
      name="q"
      placeholder="Enter search query..."
      type="text"


          value="trigger"


    >

    <button class="search-page-submit">
      <svg class="svg-icon -with-stroke" viewBox="0 0 120 120">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#icon_magnifying_glass"></use>
        <title>Search</title>
      </svg>
      <span class="button-text">Search</span>
    </button>
    </form>

    <ul class="entries">

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/092-fate-stay-under-the-kotatsu">
        <img src="/uploads/thumbnails/small_AGP092-Todays-Menu-for-the-Emiya-Family_20180225170009_20180225170306.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_AGP092-Todays-Menu-for-the-Emiya-Family_20180225170009_20180225170306.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #092 – Fate/stay under the kotatsu


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2018-02-26T 1:02:00+0000">Monday, Feb 26, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Celeste
                </li>

                <li class="tag">
                  Darling in the Frankxx
                </li>

                <li class="tag">
                  Fate
                </li>

                <li class="tag">
                  Genericon 2018
                </li>

                <li class="tag">
                  Metal Gear
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/notices/my-panels-plus-studio-trigger-at-genericon-2018">
        <img src="/uploads/thumbnails/small_Genericon-XXXI-Logo_20180223182620_20180223182953.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_Genericon-XXXI-Logo_20180223182620_20180223182953.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Come See My Panels, Plus Studio Trigger, at Genericon 2018!



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2018-02-24T 2:29:00+0000">Saturday, Feb 24, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Notice
                </li>


                <li class="category">
                  animation
                </li>

                <li class="category">
                  anime
                </li>

                <li class="category">
                  comics
                </li>

                <li class="category">
                  conventions
                </li>

                <li class="category">
                  manga
                </li>

                <li class="category">
                  movies
                </li>

                <li class="category">
                  traditional games
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Genericon 2018
                </li>

                <li class="tag">
                  Kazuya Masumoto
                </li>

                <li class="tag">
                  Masahiko Otsuka
                </li>

                <li class="tag">
                  panels
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Takafumi Hori
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/091-best-of-2017-with-nate-ming">
        <img src="/uploads/thumbnails/small_Made-in-Abyss_20180213014937_20180213015253.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_Made-in-Abyss_20180213014937_20180213015253.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #091 – Best of 2017 with Nate Ming


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2018-02-13T 9:52:00+0000">Tuesday, Feb 13, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  manga
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Delicious in Dungeon
                </li>

                <li class="tag">
                  Doki Doki Literature Club
                </li>

                <li class="tag">
                  Dragonball
                </li>

                <li class="tag">
                  Golden Kamuy
                </li>

                <li class="tag">
                  In This Corner of the World
                </li>

                <li class="tag">
                  Kemono Friends
                </li>

                <li class="tag">
                  Kizumonogatari
                </li>

                <li class="tag">
                  Land of the Lustrous
                </li>

                <li class="tag">
                  Little Witch Academia
                </li>

                <li class="tag">
                  Made in Abyss
                </li>

                <li class="tag">
                  Mario
                </li>

                <li class="tag">
                  Nier
                </li>

                <li class="tag">
                  Night in the Woods
                </li>

                <li class="tag">
                  The Promised Neverland
                </li>

                <li class="tag">
                  Yakuza (game series)
                </li>

                <li class="tag">
                  Zelda
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/columns/three-episode-test/ink-winter-2018-anime">
        <img src="/uploads/thumbnails/small_PlaceFurtherThanTheUniverseWaitForMePenguins_20180128182411_20180128200453.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_PlaceFurtherThanTheUniverseWaitForMePenguins_20180128182411_20180128200453.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Three-Episode Test: Ink's Winter 2018


              </h1>


                <p class="subtitle">A lot to love (and too little time).</p>

            </header>

            <p class="authors">
              By
                Ink

            </p>

            <p class="publication-date">
              <time datetime="2018-02-01T 4:59:00+0000">Thursday, Feb 01, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  A Place Further Than The Universe
                </li>

                <li class="tag">
                  After the Rain
                </li>

                <li class="tag">
                  Citrus
                </li>

                <li class="tag">
                  Devilman
                </li>

                <li class="tag">
                  Fate: Apocrypha
                </li>

                <li class="tag">
                  Garo
                </li>

                <li class="tag">
                  Garo Vanishing Line
                </li>

                <li class="tag">
                  Junji Ito Collection
                </li>

                <li class="tag">
                  Kakegurui
                </li>

                <li class="tag">
                  Laid-Back Camp
                </li>

                <li class="tag">
                  Ms. Koizumi Loves Ramen Noodles
                </li>

                <li class="tag">
                  Takunomi
                </li>

                <li class="tag">
                  Winter 2018 Anime
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/columns/three-episode-test/evan-winter-2018-anime-devilman-crybaby-darling-in-the-franxx-gdgd-mens-party-pop-team-epic">
        <img src="/uploads/thumbnails/small_Darling-in-the-Franxx-Butt-Handlebars_20180129160633_20180129163825.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_Darling-in-the-Franxx-Butt-Handlebars_20180129160633_20180129163825.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Three-Episode Test: Evan’s Winter 2018


              </h1>


                <p class="subtitle">Too gdgd to be true.</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2018-01-30T 3:00:00+0000">Tuesday, Jan 30, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Devilman
                </li>

                <li class="tag">
                  gdgd men’s party
                </li>

                <li class="tag">
                  Pop Team Epic
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Winter 2018 Anime
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/columns/three-episode-test/alex-osborn-winter-2018-anime-darling-in-the-franxx-after-the-rain-place-further-than-the-universe">
        <img src="/uploads/thumbnails/small_APlaceFurther_20180128172731_20180128175147.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_APlaceFurther_20180128172731_20180128175147.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Three-Episode Test: Alex's Winter 2018


              </h1>


                <p class="subtitle">Cute girls doing all sorts of things.</p>

            </header>

            <p class="authors">
              By
                Alex Osborn

            </p>

            <p class="publication-date">
              <time datetime="2018-01-29T 1:00:00+0000">Monday, Jan 29, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  A Place Further Than The Universe
                </li>

                <li class="tag">
                  After the Rain
                </li>

                <li class="tag">
                  Darling in the Frankxx
                </li>

                <li class="tag">
                  Winter 2018 Anime
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/posts/staff-picks-our-favorite-anime-of-2017">
        <img src="/uploads/thumbnails/small_YourName_Meeting_20180111222518_20180111223150.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_YourName_Meeting_20180111222518_20180111223150.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Staff Picks: Our Favorite Anime of 2017



              </h1>


                <p class="subtitle"></p>

            </header>

            <p class="authors">
              By
                David Estrella

                Ink

                Evan Minto

                Alex Osborn

            </p>

            <p class="publication-date">
              <time datetime="2018-01-14T 6:08:00+0000">Sunday, Jan 14, 2018</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Post
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  2017 Staff Picks
                </li>

                <li class="tag">
                  A Silent Voice
                </li>

                <li class="tag">
                  Fate
                </li>

                <li class="tag">
                  Fate/Stay Night
                </li>

                <li class="tag">
                  Girls’ Last Tour
                </li>

                <li class="tag">
                  In This Corner of the World
                </li>

                <li class="tag">
                  Kemono Friends
                </li>

                <li class="tag">
                  Kizumonogatari
                </li>

                <li class="tag">
                  Land of the Lustrous
                </li>

                <li class="tag">
                  Little Witch Academia
                </li>

                <li class="tag">
                  The Eccentric Family
                </li>

                <li class="tag">
                  Your Name
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/085-talking-trigger-with-studio-pr-tattun">
        <img src="/uploads/thumbnails/small_Trigger_Tattun_20171013093934_20171013094458.png" class="thumbnail" data-src="/uploads/thumbnails/large_Trigger_Tattun_20171013093934_20171013094458.png">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #085 – Talking TRIGGER with Studio PR Tattun


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2017-10-13T 3:44:00+0000">Friday, Oct 13, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Little Witch Academia
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Tatsuru Tatemoto
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/084-we-never-mario-party-anymore">
        <img src="/uploads/thumbnails/small_Mario_Nipples_20170916185931_20170916191932.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_Mario_Nipples_20170916185931_20170916191932.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #084 – We Never Mario Party Anymore


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2017-09-17T 1:19:00+0000">Sunday, Sep 17, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Code Geass
                </li>

                <li class="tag">
                  Darling in the Frankxx
                </li>

                <li class="tag">
                  Kirby
                </li>

                <li class="tag">
                  Mario
                </li>

                <li class="tag">
                  Nintendo
                </li>

                <li class="tag">
                  Octopath Traveler
                </li>

                <li class="tag">
                  Tokyo Dark
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/interviews/little-witch-academia-director-yoshinari-talks-tv-production-animenext-2017">
        <img src="/uploads/thumbnails/small_LittleWitchAcademiaPromoArt_20170729123302_20170802193626.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_LittleWitchAcademiaPromoArt_20170729123302_20170802193626.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Little Witch Academia Director Yoshinari Talks TV Production and the Challenges of Directing



              </h1>


                <p class="subtitle">Studio Trigger staff on <cite>Little Witch</cite> and the origins of "Geek Boat" at AnimeNEXT 2017.</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2017-08-03T 1:35:00+0000">Thursday, Aug 03, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Interview
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  conventions
                </li>


                <li class="tag">
                  AnimeNEXT 2017
                </li>

                <li class="tag">
                  Geek Boat
                </li>

                <li class="tag">
                  Geek Fleet
                </li>

                <li class="tag">
                  Hiromi Wakabayashi
                </li>

                <li class="tag">
                  Little Witch Academia
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Yoh Yoshinari
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/interviews/hiroyuki-yamaga-reflects-on-gainax-past-anime-future-fanimecon-2017">
        <img src="/uploads/thumbnails/small_UruInBlueCharacterDesign_20170622212535_20170622212936.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_UruInBlueCharacterDesign_20170622212535_20170622212936.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Hiroyuki Yamaga Reflects on Gainax's Past and Anime's Future



              </h1>


                <p class="subtitle">Our interview with the studio president and director of <cite>Royal Space Force</cite> from FanimeCon 2017</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2017-07-10T 1:04:00+0000">Monday, Jul 10, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Interview
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Akubi o Suru ni wa Wake ga Aru
                </li>

                <li class="tag">
                  Blue Blazes
                </li>

                <li class="tag">
                  FanimeCon 2017
                </li>

                <li class="tag">
                  Gainax
                </li>

                <li class="tag">
                  Gunbuster
                </li>

                <li class="tag">
                  Hiroyuki Yamaga
                </li>

                <li class="tag">
                  Uru in Blue
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/reviews/a-big-mess-2-miserably-endearing-life-messyol-tokyo">
        <img src="/uploads/thumbnails/small_ABigMess2Cover_20170325133046_20170326122421.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_ABigMess2Cover_20170325133046_20170326122421.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Review: A Big Mess 2



              </h1>


                <p class="subtitle">The miserably endearing life of "MessyOL Tokyo."</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2017-03-28T 4:52:00+0000">Tuesday, Mar 28, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Review
                </li>


                <li class="category">
                  manga
                </li>


                <li class="tag">
                  A Big Mess
                </li>

                <li class="tag">
                  indie manga
                </li>

                <li class="tag">
                  MessyOL Tokyo
                </li>

                <li class="tag">
                  Taco Che
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/074-who-framed-mario-mario-zelda-death-note-genericon">
        <img src="/uploads/thumbnails/small_AGP074_WhoFramedMario_20170326133022_20170326133841.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_AGP074_WhoFramedMario_20170326133022_20170326133841.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #074 – Who Framed Mario Mario?


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2017-03-26T 5:17:00+0000">Sunday, Mar 26, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Death Note
                </li>

                <li class="tag">
                  Genericon 2017
                </li>

                <li class="tag">
                  MD Geist
                </li>

                <li class="tag">
                  Netflix
                </li>

                <li class="tag">
                  Nintendo
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Tom Aznable
                </li>

                <li class="tag">
                  Zelda
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/073-kemono-friends-is-a-big-mess">
        <img src="/uploads/thumbnails/small_AGP073_KemonoFriends_20170304233357_20170305013406.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_AGP073_KemonoFriends_20170304233357_20170305013406.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #073 – Kemono Friends Is a Big Mess


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2017-03-05T 3:55:00+0000">Sunday, Mar 05, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  conventions
                </li>

                <li class="category">
                  manga
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Kemono Friends
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/notices/last-minute-reminder-genericon-2017-studio-trigger">
        <img src="/uploads/thumbnails/small_InfernoCopShithole_20170303015000_20170303015956.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_InfernoCopShithole_20170303015000_20170303015956.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Last Minute Reminder: Genericon 2017, Featuring Studio Trigger!



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2017-03-03T 2:44:00+0000">Friday, Mar 03, 2017</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Notice
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  conventions
                </li>

                <li class="category">
                  manga
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Genericon 2017
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/reviews/sabagebu-survival-game-club-anime-secret-santa">
        <img src="/uploads/thumbnails/small_Screenshot_2016-12-23_18_20161224092224_20161224110203.43.45.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_Screenshot_2016-12-23_18_20161224092224_20161224110203.43.45.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Secret Santa Review: Sabagebu: Survival Game Club



              </h1>


                <p class="subtitle">Tantei Opera Milky Holmes with Guns</p>

            </header>

            <p class="authors">
              By
                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2016-12-24T 7:27:00+0000">Saturday, Dec 24, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Review
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Anime Secret Santa
                </li>

                <li class="tag">
                  Pierrot Plus
                </li>

                <li class="tag">
                  Sabagebu
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/069-saya-no-uta-can-you-bang-the-honda-accord">
        <img src="/uploads/thumbnails/small_SayaNoUta_20161124124456_20161124124938.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_SayaNoUta_20161124124456_20161124124938.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Ani-Gamers Podcast #069 – Can You Bang the Honda Accord?


              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2016-11-24T 6:04:00+0000">Thursday, Nov 24, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  manga
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Gen Urobuchi
                </li>

                <li class="tag">
                  Nitro+
                </li>

                <li class="tag">
                  One-Punch Man
                </li>

                <li class="tag">
                  Pokemon
                </li>

                <li class="tag">
                  Saya no Uta
                </li>

                <li class="tag">
                  visual novels
                </li>

                <li class="tag">
                  Yuri!!! on ICE
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/interviews/trigger-superheroes-studio-culture-animenext-2016">
        <img src="/uploads/thumbnails/small_StudioTrigger5thAnniversary_20160822125658_20160823005105.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_StudioTrigger5thAnniversary_20160822125658_20160823005105.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    TRIGGER Staff Discuss Superheroes and Studio Culture



              </h1>


                <p class="subtitle">Our interview with Amemiya, Wakabayashi, Koyama, and Kouno from AnimeNEXT 2016</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2016-08-23T 4:12:00+0000">Tuesday, Aug 23, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Interview
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Akira Amemiya
                </li>

                <li class="tag">
                  AnimeNEXT 2016
                </li>

                <li class="tag">
                  Hiromi Wakabayashi
                </li>

                <li class="tag">
                  Inferno Cop
                </li>

                <li class="tag">
                  Kill la Kill
                </li>

                <li class="tag">
                  Megumi Kouno
                </li>

                <li class="tag">
                  Shigeto Koyama
                </li>

                <li class="tag">
                  Space Patrol Luluco
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/reviews/momodora-reverie-under-the-moonlight">
        <img src="/uploads/thumbnails/small_20160710163502_1_20160711214843_20160730232952.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_20160710163502_1_20160711214843_20160730232952.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Review: Momodora: Reverie Under the Moonlight



              </h1>


                <p class="subtitle">A beautiful Metroidvania mix of cuteness and darkness.</p>

            </header>

            <p class="authors">
              By
                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2016-08-01T 5:00:00+0000">Monday, Aug 01, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Review
                </li>


                <li class="category">
                  video games
                </li>


                <li class="tag">
                  metroidvania
                </li>

                <li class="tag">
                  Momodora
                </li>

                <li class="tag">
                  video games
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/snapshots/captain-harlock-queen-and-coward">
        <img src="/uploads/thumbnails/small_CaptainHarlock_vsLafresia_20160717131020_20160717132432.png" class="thumbnail" data-src="/uploads/thumbnails/large_CaptainHarlock_vsLafresia_20160717131020_20160717132432.png">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Queen and Coward (Captain Harlock)



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2016-07-25T11:06:00+0000">Monday, Jul 25, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Captain Harlock
                </li>

                <li class="tag">
                  Leiji Matsumoto
                </li>

                <li class="tag">
                  Rintaro
                </li>

                <li class="tag">
                  Snapshots
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/062-hot-single-pokemoms-in-your-area">
        <img src="/uploads/thumbnails/small_AGP062_PokemonGo_20160716181740_20160809172710.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_AGP062_PokemonGo_20160716181740_20160809172710.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Ani-Gamers Podcast #062 – Hot Single Pokémoms in Your Area



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2016-07-16T 9:26:00+0000">Saturday, Jul 16, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Anime Expo 2016
                </li>

                <li class="tag">
                  AnimeNEXT 2016
                </li>

                <li class="tag">
                  FanimeCon 2016
                </li>

                <li class="tag">
                  Little Witch Academia
                </li>

                <li class="tag">
                  Metal Gear
                </li>

                <li class="tag">
                  Mob Psycho 100
                </li>

                <li class="tag">
                  Pokemon
                </li>

                <li class="tag">
                  Space Patrol Luluco
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/notices/animenext-2016-burgers-animation-and-open-mics">
        <img src="/uploads/thumbnails/small_AnimeNEXT_2016_20160609164215_20160609171658.png" class="thumbnail" data-src="/uploads/thumbnails/large_AnimeNEXT_2016_20160609164215_20160609171658.png">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    AnimeNEXT 2016: Burgers, Animation, and... Open Mics?



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2016-06-09T 8:16:00+0000">Thursday, Jun 09, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Notice
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  conventions
                </li>


                <li class="tag">
                  AnimeNEXT 2016
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/podcasts/060-grand-theft-monster-girl-on-the-htc-vive">
        <img src="/uploads/thumbnails/small_AGP060_GrandTheftMonsterGirl_20160516013717_20160516013847.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_AGP060_GrandTheftMonsterGirl_20160516013717_20160516013847.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>


                    Ani-Gamers Podcast #060 – Grand Theft Monster Girl on the HTC Vive



              </h1>


            </header>

            <p class="authors">
              By
                Evan Minto

                David Estrella

            </p>

            <p class="publication-date">
              <time datetime="2016-05-16T 4:37:00+0000">Monday, May 16, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Podcast
                </li>


                <li class="category">
                  anime
                </li>

                <li class="category">
                  video games
                </li>


                <li class="tag">
                  Firewatch
                </li>

                <li class="tag">
                  Ghost in the Shell
                </li>

                <li class="tag">
                  Melty Blood
                </li>

                <li class="tag">
                  Overwatch
                </li>

                <li class="tag">
                  Space Patrol Luluco
                </li>

                <li class="tag">
                  Spring 2016 anime
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

                <li class="tag">
                  Type-Moon
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/columns/three-episode-test/ajin-kabaneri-jojos-kiznaiver-tonkatsu-jareds-spring-2016">
        <img src="/uploads/thumbnails/small_ajin_1_20160501195331_20160501203219.jpg" class="thumbnail" data-src="/uploads/thumbnails/large_ajin_1_20160501195331_20160501203219.jpg">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Three-Episode Test: Jared's Spring 2016


              </h1>


                <p class="subtitle">Bizzare adventures in (demi-)humanity</p>

            </header>

            <p class="authors">
              By
                Jared Nelson

            </p>

            <p class="publication-date">
              <time datetime="2016-05-02T 5:16:00+0000">Monday, May 02, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  AJIN
                </li>

                <li class="tag">
                  JoJo&#039;s Bizarre Adventure
                </li>

                <li class="tag">
                  Kabaneri
                </li>

                <li class="tag">
                  Kiznaiver
                </li>

                <li class="tag">
                  Tonkatsu DJ Agetaro
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

      <li>
















    <article class="entry">
      <a class="wrapper-link" href="/columns/three-episode-test/luluco-kiznaiver-jojos-joker-game-trigger-evans-spring-2016">
        <img src="/uploads/thumbnails/small_SpacePatrolLuluco_RocketScienceManual_20160430125712_20160430162114.png" class="thumbnail" data-src="/uploads/thumbnails/large_SpacePatrolLuluco_RocketScienceManual_20160430125712_20160430162114.png">

        <div class="metadata">
          <div class="metadata-inner">
            <header>
              <h1>



                    Three-Episode Test: Evan's Spring 2016


              </h1>


                <p class="subtitle">All Trigger, All the Time</p>

            </header>

            <p class="authors">
              By
                Evan Minto

            </p>

            <p class="publication-date">
              <time datetime="2016-04-30T 8:00:00+0000">Saturday, Apr 30, 2016</time>
            </p>

            <ul class="topics">

                <li class="type">
                  Column
                </li>


                <li class="category">
                  anime
                </li>


                <li class="tag">
                  Crunchyroll
                </li>

                <li class="tag">
                  JoJo&#039;s Bizarre Adventure
                </li>

                <li class="tag">
                  Joker Game
                </li>

                <li class="tag">
                  Kiznaiver
                </li>

                <li class="tag">
                  Mari Okada
                </li>

                <li class="tag">
                  Production I.G
                </li>

                <li class="tag">
                  Space Patrol Luluco
                </li>

                <li class="tag">
                  Spring 2016 anime
                </li>

                <li class="tag">
                  Studio Trigger
                </li>

            </ul>
          </div>
        </div>
      </a>
    </article>


      </li>

    </ul>

    {{render '@page-links'}}
  </main>

  <aside class="site-content-navigation">

  </aside>

  {{render '@site-footer'}}
</div>