// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$hue-primary: 3;
$hue-secondary: $hue-primary + 180;
$saturation-default: 70%;
$saturation-high: 85%;
$saturation-medium: 30%;
$saturation-low: 7.5%;

$color-primary: hsl($hue-primary, $saturation-default, 47.5%);
$color-primary-dark: hsl($hue-primary, $saturation-high, 25%);
$color-secondary: hsl($hue-secondary, $saturation-default, 28%);
$color-secondary-dark: hsl($hue-secondary, $saturation-high, 20%);
$color-gray-primary: hsl($hue-primary, $saturation-medium, 75%);
$color-gray-secondary: hsl($hue-secondary, $saturation-low, 92%);
$color-off-black: hsl($hue-secondary, $saturation-medium, 15%);

$nihon-red: $color-primary;//rgb(218, 51, 43);
$blood-red: $color-primary-dark;//rgb(153, 34, 36);
$sky-blue: $color-secondary;//rgb(43, 181, 193);
$pacific-blue: $color-secondary-dark;//rgb(12, 67, 101);

$transparent-nihon-red: rgba($nihon-red, 0.5);
$light-red: tint($blood-red, 40%);
$pacific-blue-hover: tint($pacific-blue, 20%);
$yuurei-blue: tint(desaturate($pacific-blue, 30%), 85%);
$off-white: tint($yuurei-blue, 80%);
$cool-blue: $yuurei-blue;
$cool-blue-hover: tint($cool-blue, 2%);
$gray-blue: $yuurei-blue;

// Semantic colors
$primary-color: $nihon-red;
$primary-dark-color: $blood-red;
$primary-light-color: $color-gray-primary;//tint($primary-color, 20%);
$secondary-color: $sky-blue;
$secondary-dark-color: $pacific-blue;
$secondary-light-color: $color-secondary;//tint($secondary-color, 20%);
$base-color: $color-gray-secondary;//desaturate(tint($secondary-color, 80%), 40%);
$base-dark-color: $color-off-black;//desaturate(tint($secondary-dark-color, 70%), 40%);
$secondary-base-color: white;//tint($base-color, 95%);
$secondary-base-dark-color: $base-color;

// Third-party colors
$twitter-blue: rgb(85, 172, 238);
$color-blue-facebook: #3b5998;
$color-blue-twitter: #55acee;

$box-shadow-color: rgba($color-off-black, 0.5);
$text-shadow-color: rgba($color-off-black, 0.9);
$color-placeholder: rgba($color-secondary-dark, 0.75);
