@import '_base';

.site-footer {
  @include row;

  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  font-size: $font-size-sm;
  text-align: center;

  > section {
    @include column(12);

    + section {
      margin-top: 2rem;
    }
  }

  h1 {
    font-size: $font-size-sm;
    margin: 0 0 0.5em 0;
  }
}

@media (min-width: 568px) {
  .site-footer {
    flex-wrap: nowrap;
    margin-top: 1rem;

    font-size: $font-size-xs;
    text-align: left;

    > section {
      @include column(4);

      + section {
        margin-top: 0;
      }
    }

    h1 {
      font-size: $font-size-xs;
    }
  }
}
