@import '_base';

.site-footer {
  @include row;

  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50 * $vertical-rhythm;
  padding-top: $space-sm;
  padding-bottom: $space-md;

  font-size: $font-size-sm;
  text-align: center;

  > section {
    @include column(12);

    + section {
      margin-top: $space-md;
    }
  }

  h1 {
    font-family: inherit;
    font-size: $font-size-sm;
    font-weight: bolder;
    margin: 0 0 $space-xxs-relative 0;
  }
}

@media (min-width: 568px) {
  .site-footer {
    flex-wrap: nowrap;
    margin-top: $space-sm;

    font-size: $font-size-xs;
    text-align: left;

    > section {
      @include column(4);

      + section {
        margin-top: 0;
      }
    }

    h1 {
      font-size: $font-size-xs;
    }
  }
}
