@import '_base';

.menu-toggle {
  @include column(2);
}

.menu-label {
  display: block;
  width: $header-icon-size;

  > svg {
    display: block;
    stroke: currentColor;
    stroke-width: $space-md;
  }
}

.main-menu-link {
  order: 0;

  .svg-icon {
    height: $space-md;
  }
}

.main-menu-close-link {
  margin-top: $space-md;
}

.header-search-link {
  order: 2;

  .svg-icon {
    height: $space-md;
  }
}

.main-menu:target,
[aria-expanded="true"] + .main-menu {
  display: flex;
  justify-content: center;
  padding: $space-md 0;
  text-align: center;

  nav {
    font-size: $font-size-xxl;
  }

  .meta-links {
    margin-top: $space-lg;
  }

  .site-sections {
    display: block;
    font-size: $font-size-lg;

    li {
      display: block;
    }
  }

  .meta-links {
    justify-content: center;

    li > a {
      width: $menu-icon-size;
      height: $menu-icon-size;
    }
  }
}

[aria-expanded="false"] + .main-menu {
  display: none;
}

.header-search-form:target,
[aria-expanded="true"] + .header-search-form {
  display: block;
  display: flex;
}

.header-search-form:target {
  flex: 1 1 100%;
  margin-top: ($vertical-rhythm / 2);
}

[aria-expanded="true"] + .header-search-form {
  flex: 1 1 auto;
  margin-top: 0;
}

[aria-expanded="false"] + .header-search-form {
  display: none;
}

.site-header {
  @include drop-shadow(1);

  display: flex;
  align-items: stretch;
  min-height: $space-lg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $header-z-index;
  overflow: hidden;
  background: $secondary-base-color;

  &.-search-open {
    .logo,
    .main-menu-link,
    .main-menu,
    .header-search-link {
      display: none;
    }
  }

  > .content {
    @include row;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-top: $space-sm-relative;
    padding-bottom: $space-sm-relative;
  }
}

body {
  &.menu-open {
    overflow: hidden;

    .site-header {
      align-content: flex-start;
      height: 100%;
      overflow: auto;
    }
  }
}

@media (print) {
  .site-header {
    display: none;
  }
}
