@import '_base';

.profile-page {
  .profile-info-box {
    margin-top: $space-md;

    clear: both;

    .name {
      margin-right: $space-sm-relative;

      font-weight: bold;
    }

    .title {
      margin-right: $space-sm-relative;

      font-style: italic;
    }
  }

  .avatar {
    float: left;
    margin-right: $space-sm;
    max-width: $space-lg;

    border-radius: 100%;
  }

  .profile-footer-box {
    margin-top: $space-sm;
  }

  .next-profile-page {
    margin-top: $space-md;

    font-weight: bold;
  }
}
