@import '_base';

main {
  padding-top: $space-md;
  padding-left: 2.63158%;
  padding-right: 2.63158%;
}

.search-page-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.search-page-query {
  @include column(8);
}

.search-page-query,
.search-page-submit {
  font-size: $font-size-xs;
}

.search-page-submit {
  @include column(4);

  > * {
    display: inline-block;
  }

  .svg-icon.-with-stroke {
    margin: 0 $space-xs-relative 0 0;
    stroke-width: $space-md-relative;
  }
}

.entries {
  @include clear-spacing;

  margin: $space-md 0 0 0;
  list-style: none;

  > li {
    @include list-entry;

    margin: 0;

    + li {
      margin-top: $space-md;
    }

    .entry {
      > a {
        padding: 0;
      }
    }
  }
}

.page-links {
  margin-top: $space-md;
}

@include medium-screen {
  main > .content {
    box-sizing: border-box;
    padding: 0 gridsystem-gutter-width();
  }

  .search-page-form {
    padding: 0;
  }

  .search-page-query {
    @include column(9);
  }

  .search-page-submit {
    @include column(3);
  }
}
