<div class="content">
  <a href="#main_content" class="skip-to-main-content-link js-skip-to-main-content">Skip to main content</a>

  {{render '@site-header'}}

  <main id="main-content">
    <div class="content">
      {{render '@entry--simple'}}
    </div>
  </main>

  {{render '@site-footer'}}
</div>
