<section class="topic-info">
  <h2>Filed Under</h2>

  <ul id="entry_topics_list" class="topics">
    <li class="type">
      <a href="/search/type/podcast_new" rel="category">Podcast</a>
    </li>

    <li class="category">
      <a href="/search/category/anime" rel="category">anime</a>
      </li>

    <li class="category">
      <a href="/search/category/manga" rel="category">manga</a>
      </li>

    <li class="category">
      <a href="/search/category/games" rel="category">video games</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Delicious in Dungeon" rel="tag">Delicious in Dungeon</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Doki Doki Literature Club" rel="tag">Doki Doki Literature Club</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Dragonball" rel="tag">Dragonball</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Golden Kamuy" rel="tag">Golden Kamuy</a>
    </li>

    <li class="tag">
      <a href="/search/tag/In This Corner of the World" rel="tag">In This Corner of the World</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Kemono Friends" rel="tag">Kemono Friends</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Kizumonogatari" rel="tag">Kizumonogatari</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Land of the Lustrous" rel="tag">Land of the Lustrous</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Little Witch Academia" rel="tag">Little Witch Academia</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Made in Abyss" rel="tag">Made in Abyss</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Mario" rel="tag">Mario</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Nier" rel="tag">Nier</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Night in the Woods" rel="tag">Night in the Woods</a>
    </li>

    <li class="tag">
      <a href="/search/tag/The Promised Neverland" rel="tag">The Promised Neverland</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Yakuza (game series)" rel="tag">Yakuza (game series)</a>
    </li>

    <li class="tag">
      <a href="/search/tag/Zelda" rel="tag">Zelda</a>
    </li>
  </ul>
</section>
