/* Multicolumn Theme */
.entry-body {
  columns: 33ch;
  column-gap: 1.5em;
}

.entry-body h3,
.entry-body hr,
.entry-body img {
  column-span: all;
  margin-bottom: 1.5em;
}

.entry-body h3 + *,
.entry-body hr + *,
.entry-body img + * {
  margin-top: 0;
}