<ul class="meta-links">
  <li>
    <a class="wrapper-link" href="" rel="external" itemprop="sameAs">
      <svg class="svg-icon -with-fill twitter-icon" viewBox="0 0 120 120" width="16">
        <use xlink:href="/images/icons.svg#icon_twitter"></use>
        <title>Twitter</title>
      </svg>
    </a>
  </li>

  <li>
    <a class="wrapper-link" href="" rel="external" itemprop="sameAs">
      <svg class="svg-icon -with-fill facebook-icon" viewBox="0 0 120 120" width="16">
        <use xlink:href="/images/icons.svg#icon_facebook"></use>
        <title>Facebook</title>
      </svg>

      <svg class="svg-icon facebook-icon-full" viewBox="0 0 120 120" width="16">
        <use xlink:href="/images/icons.svg#icon_facebook_color"></use>
        <title>Facebook</title>
      </svg>
    </a>
  </li>

  <li>
    <a class="wrapper-link" href="" rel="meta">
      <svg class="svg-icon -with-fill rss-icon" viewBox="0 0 120 120" width="16">
        <use xlink:href="/images/icons.svg#icon_rss"></use>
        <title>Subscribe</title>
      </svg>
    </a>
  </li>
</ul>
