/* Site Nav */
.site-nav {
  text-align: center; }
  .site-nav ul {
    padding: 0;
    list-style: none; }

/* Site Social Links */
.site-social-links {
  padding: 0;
  list-style: none; }
  .site-social-links > * {
    display: inline-block;
    vertical-align: middle; }
    .site-social-links > * + * {
      margin-top: 0;
      margin-left: 1.5em; }
  .site-social-links svg {
    display: block;
    stroke: none;
    fill: currentColor; }

/* Site Links */
.site-links {
  text-align: center; }

/* Simple Text Form */
.simple-text-form {
  display: flex;
  align-items: stretch;
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625em 0.125em rgba(29, 35, 38, 0.3); }
  .simple-text-form > * {
    flex: 1 1 auto;
    float: left;
    border-radius: 0;
    box-shadow: none; }
    .simple-text-form > * + * {
      margin-top: 0; }
  .simple-text-form::after {
    content: '';
    display: table;
    overflow: hidden; }
  .simple-text-form input {
    min-width: 0; }
  .simple-text-form button {
    flex: 0 1 auto;
    padding-left: 3ch;
    padding-right: 3ch; }
  .simple-text-form > :first-child {
    border-radius: 0.1875rem 0 0 0.1875rem;
    border-right: 0; }
  .simple-text-form > :last-child {
    border-radius: 0 0.1875rem 0.1875rem 0; }

/* Simple Text Form: Search */
.simple-text-form--search button svg {
  stroke-width: 1em;
  position: relative;
  bottom: 0.125em;
  font-size: 0.75em;
  vertical-align: middle;
  margin-right: 0.5ch; }

/* Menu Toggle */
.menu-toggle {
  display: block;
  padding: 0;
  border: none;
  line-height: 1;
  background: none;
  box-shadow: none;
  color: #0c4365; }
  .menu-toggle svg {
    display: block;
    stroke-width: 1em; }

/* Search Toggle */
.search-toggle {
  display: block;
  padding: 0;
  border: none;
  line-height: 1;
  background: none;
  box-shadow: none;
  color: #0c4365; }
  .search-toggle svg {
    display: block;
    stroke-width: 1em; }

/* Summary */
.summary * + * {
  margin-top: 0.75em; }

.summary .flexible-image {
  height: 7.5em;
  border-radius: 0.1875rem; }

/* Summary: Staff */
.summary--staff {
  text-align: center; }
  .summary--staff .flexible-image {
    display: inline-block;
    height: 7.5em;
    width: 7.5em;
    border-radius: 100%;
    box-shadow: 0 0.0625em 0.125em rgba(29, 35, 38, 0.3);
    overflow: hidden; }

/* Summary: Entry Preview */
.summary--entry-preview {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 7.5em 1.5em 1.5em 1.5em;
  position: relative;
  color: #f6f7f9;
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625em 0.125em rgba(29, 35, 38, 0.3);
  overflow: hidden; }
  .summary--entry-preview > * {
    position: relative;
    z-index: 2; }
  .summary--entry-preview::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }
  .summary--entry-preview p {
    font-size: 0.88889rem;
    font-size: var(--font-size-sm); }
  .summary--entry-preview h2 {
    color: currentColor; }
  .summary--entry-preview .flexible-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; }

/* Summary: Column */
.summary--column {
  display: block;
  padding: 4.5em 1.5em 0.75em 1.5em;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  color: #f6f7f9;
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625em 0.125em rgba(29, 35, 38, 0.3);
  overflow: hidden; }
  .summary--column > * {
    position: relative;
    z-index: 2; }
  .summary--column::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(222, 76, 67, 0.5); }
  .summary--column h3 {
    color: currentColor; }
  .summary--column .flexible-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    filter: contrast(70%) grayscale(40%); }

/* Summary: Entry Search Result */
.summary--entry-search-result::after {
  content: '';
  display: table;
  overflow: hidden;
  clear: both; }

.summary--entry-search-result p {
  font-size: 0.88889rem;
  font-size: var(--font-size-sm); }

.summary--entry-search-result .flexible-image {
  float: right;
  height: 4.5em;
  width: 4.5em;
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625em 0.125em rgba(29, 35, 38, 0.3);
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

/* Entry Byline */
.entry-byline address {
  display: inline;
  font-style: normal; }

/* Image Pair */
.image-pair {
  columns: 2 18rem;
  column-gap: 1.5rem; }
  .image-pair img {
    width: 100%; }
  .image-pair figcaption {
    column-span: all; }

/* Entry Body */
.entry-body img {
  border-radius: 0.1875rem; }

.entry-body .column-note {
  font-size: 0.88889rem;
  font-size: var(--font-size-sm);
  font-style: italic; }

.entry-body .column-note cite {
  font-style: normal; }

.entry-body .intro-blurb {
  font-size: var(--font-size-sm); }

.entry-body .interview-intro-blurb {
  font-style: italic; }
  .entry-body .interview-intro-blurb i,
  .entry-body .interview-intro-blurb em,
  .entry-body .interview-intro-blurb cite {
    font-style: normal; }

.entry-body .availability-blurb {
  font-style: italic; }

.entry-body .availability-blurb cite {
  font-style: normal; }

.entry-body .podcast-episode-list th {
  text-align: left; }

.entry-body .podcast-episode-list th,
.entry-body .podcast-episode-list td {
  padding: 0.5em; }

.entry-body .review-rating {
  font-size: 1.15em;
  font-weight: bold;
  color: #f15f4e;
  text-align: center; }

.entry-body .review-version {
  font-style: italic; }

/* For use in Tofu CMS SCSS */
/* .sidebar {
  @include entry-sidebar;
}

p.pull-quoted {
  @include entry-pull-quote;
} */
/* Topics Section */
.topics-section ul {
  padding: 0;
  list-style: none;
  display: inline; }

.topics-section li {
  display: inline-block;
  margin: 0.5em 0.25ch 0 0; }

.topics-section .topics-section-label {
  font-weight: bold; }

.topics-section .topics-section-label::after {
  content: ':'; }

/* Pull Quote */
.pull-quote-2017 {
  display: block;
  margin: 1.5rem 0;
  font-family: "Open Sans Condensed", Futura, sans-serif;
  text-shadow: 0px 0px 0.125em rgba(29, 35, 38, 0.15);
  font-size: 1.26562rem;
  font-size: var(--font-size-xl);
  font-weight: bold;
  text-align: center;
  border: 0 solid currentColor; }

/* Pagination */
.pagination {
  text-align: center; }
  .pagination > * {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle; }
    .pagination > * + * {
      margin-left: 0.75rem; }

/* Entry Header */
.entry-header * + * {
  margin-top: 0.75em; }

.entry-header .entry-timestamp,
.entry-header .entry-byline {
  font-size: 0.88889rem;
  font-size: var(--font-size-sm); }

/* Entry Footer */
.entry-footer address {
  margin-top: 3em;
  font-size: 0.88889rem;
  font-size: var(--font-size-sm);
  font-style: normal; }

.entry-footer * + .summary--staff {
  margin-top: 3em; }

/* Staff Bio */
.staff-bio::after {
  content: '';
  display: table;
  clear: both; }

.staff-bio > * + * {
  margin-top: 0.375rem; }

.staff-bio--title {
  font-style: italic; }

.staff-bio--title,
.staff-bio address {
  font-size: 0.88889rem;
  font-size: var(--font-size-sm); }

.staff-bio p {
  margin-top: 0.75em; }

.staff-bio address {
  font-style: normal; }

.staff-bio .flexible-image {
  width: 7.5rem;
  height: 7.5rem;
  float: left;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 100%;
  shape-outside: border-box;
  shape-margin: 1.5rem; }
  .staff-bio .flexible-image ~ * {
    padding-left: 3.75rem; }

/* Staff List */
.staff-list {
  padding: 0;
  list-style: none; }
  .staff-list > * + * {
    margin-top: 3rem; }
