@import 'base';
@import 'tools';

/* Inner */

.inner {
  box-sizing: border-box;
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* Wrapper Link */

.wrapper-link {
  display: block;
}

.wrapper-link,
.wrapper-link:active,
.wrapper-link:focus,
.wrapper-link:hover,
.wrapper-link:visited {
  color: currentColor;
  background: none;
}

.wrapper-link h1,
.wrapper-link h2,
.wrapper-link h3,
.wrapper-link h4,
.wrapper-link h5,
.wrapper-link h6 {
  color: $primary-color;

  @include link-active {
    color: $primary-dark-color;
  }
}

/* Skip to Main Content Link */

.skip-to-main-content-link {
  display: block;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  position: absolute;
  opacity: 0;
  pointer-events: none;

  text-align: center;

  @include link-active {
    position: static;
    opacity: 1;
    pointer-events: all;
  }
}

/* Site Logo */

.site-logo {
  font-size: 1em;
}

.site-logo img {
  max-width: none;

  box-shadow: none;
}

/* Pagination Link */

.pagination-link {
  display: inline-block;
  box-sizing: border-box;
  height: 2em;
  width: 2em;
  padding: 0.375em 0;

  line-height: 1;

  text-align: center;

  background-color: $primary-color;
  color: $off-white;

  box-shadow: $box-shadow;

  @include link-active {
    background-color: $blood-red;
  }
}

.pagination-link > * {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.pagination-link--next::before {
  content: '❯';
  vertical-align: middle;
}

.pagination-link--previous::before {
  content: '❮';
  vertical-align: middle;
}

/* Archive Link */

.archive-link {
  display: inline-block;
  padding: 0.25em 1ch;

  background-color: $cool-blue;
  color: $secondary-dark-color;

  box-shadow: $box-shadow;

  @include link-active {
    background-color: $secondary-dark-color;
    color: $cool-blue;
  }
}

/* Subject Label */

.subject-label {
  box-sizing: border-box;
  display: inline-block;
  height: 2em;
  padding: 0.4375em 1ch;

  line-height: 1;

  border: 0.0625em solid currentColor;
  border-radius: $border-radius;
}

a.subject-label {
  @include link-active {
    border-color: $primary-color;

    box-shadow: $box-shadow;
  }
}

/* Flexible Image */

.flexible-image {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center center;
    opacity: 0;

    box-shadow: none;

    @supports (object-fit: cover) {
      opacity: 1;
    }
  }
}

/* Entry Timestamp */

.entry-timestamp {
  display: block;
}
