@import 'base';
@import 'tools';

/* Site Nav */

.site-nav {
  text-align: center;

  ul {
    @include clear-list-styling;
  }
}

/* Site Social Links */

.site-social-links {
  @include clear-list-styling;

  > * {
    display: inline-block;
    vertical-align: middle;

    + * {
      margin-top: 0;
      margin-left: 1.5em;
    }
  }

  svg {
    display: block;
    stroke: none;
    fill: currentColor;
  }
}

/* Site Links */

.site-links {
  text-align: center;
}

/* Simple Text Form */

.simple-text-form {
  display: flex;
  align-items: stretch;

  border-radius: $border-radius;
  box-shadow: $box-shadow;

  > * {
    flex: 1 1 auto;
    float: left;

    border-radius: 0;
    box-shadow: none;

    + * {
      margin-top: 0;
    }
  }

  &::after {
    content: '';
    display: table;
    overflow: hidden;
  }

  input {
    min-width: 0;
  }

  button {
    flex: 0 1 auto;
    padding-left: 3ch;
    padding-right: 3ch;
  }

  > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
    border-right: 0;
  }

  > :last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

/* Simple Text Form: Search */

.simple-text-form--search button svg {
  stroke-width: 1em;

  position: relative;
  bottom: 0.125em;

  font-size: 0.75em;
  vertical-align: middle;
  margin-right: 0.5ch;
}

/* Menu Toggle */

.menu-toggle {
  display: block;
  padding: 0;
  border: none;

  line-height: 1;

  background: none;
  box-shadow: none;
  color: $secondary-dark-color;

  svg {
    display: block;
    stroke-width: 1em;
  }
}

/* Search Toggle */

.search-toggle {
  display: block;
  padding: 0;
  border: none;

  line-height: 1;

  background: none;
  box-shadow: none;
  color: $secondary-dark-color;

  svg {
    display: block;
    stroke-width: 1em;
  }
}

/* Summary */

.summary {
  * + * {
    margin-top: 0.75em;
  }

  .flexible-image {
    height: 7.5em;
    border-radius: $border-radius;
  }
}

/* Summary: Staff */

.summary--staff {
  text-align: center;

  .flexible-image {
    display: inline-block;
    height: 7.5em;
    width: 7.5em;

    border-radius: 100%;
    box-shadow: $box-shadow;
    overflow: hidden;
  }
}

/* Summary: Entry Preview */

.summary--entry-preview {
  display: block;
  padding: 7.5em 1.5em 1.5em 1.5em;
  position: relative;

  color: $off-white;

  border-radius: $border-radius;
  box-shadow: 0 0.0625em 0.125em $box-shadow-color;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }

  p {
    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
  }

  h2 {
    color: currentColor;
  }

  .flexible-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
  }
}

/* Summary: Column */

.summary--column {
  display: block;
  padding: 4.5em 1.5em 0.75em 1.5em;
  position: relative;

  text-align: left;
  text-transform: uppercase;

  color: $off-white;

  border-radius: $border-radius;
  box-shadow: 0 0.0625em 0.125em $box-shadow-color;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: $nihon-red-trans;
  }

  h3 {
    color: currentColor;
  }

  .flexible-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;

    filter: contrast(70%) grayscale(40%);
  }
}

/* Summary: Entry Search Result */

.summary--entry-search-result {
  &::after {
    content: '';
    display: table;
    overflow: hidden;
    clear: both;
  }

  p {
    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
  }

  .flexible-image {
    float: right;
    height: 4.5em;
    width: 4.5em;
    border-radius: $border-radius;
    box-shadow: 0 0.0625em 0.125em $box-shadow-color;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }
}

/* Entry Byline */

.entry-byline address {
  display: inline;
  font-style: normal;
}

/* Image Pair */

.image-pair {
  columns: 2 18rem;
  column-gap: 1.5rem;

  img {
    width: 100%;
  }

  figcaption {
    column-span: all;
  }
}

/* Entry Body */

.entry-body {
  img {
    border-radius: $border-radius;
  }

  .column-note {
    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
    font-style: italic;
  }

  .column-note cite {
    font-style: normal;
  }

  .intro-blurb {
    font-size: var(--font-size-sm);
  }

  .interview-intro-blurb {
    font-style: italic;

    i,
    em,
    cite {
      font-style: normal;
    }
  }

  .availability-blurb {
    font-style: italic;
  }

  .availability-blurb cite {
    font-style: normal;
  }

  .podcast-episode-list {
    th {
      text-align: left;
    }

    th,
    td {
      padding: 0.5em;
    }
  }

  .review-rating {
    font-size: 1.15em;
    font-weight: bold;
    color: #f15f4e;
    text-align: center;
  }

  .review-version {
    font-style: italic;
  }
}

/* For use in Tofu CMS SCSS */
/* .sidebar {
  @include entry-sidebar;
}

p.pull-quoted {
  @include entry-pull-quote;
} */

/* Topics Section */

.topics-section ul {
  @include clear-list-styling;

  display: inline;
}

.topics-section li {
  display: inline-block;
  margin: 0.5em 0.25ch 0 0;
}

.topics-section .topics-section-label {
  font-weight: bold;
}

.topics-section .topics-section-label::after {
  content: ':';
}

/* Pull Quote */

.pull-quote-2017 {
  display: block;
  margin: 1.5rem 0;

  font-family: $font-family-emphasis;
  text-shadow: 0px 0px 0.125em $text-shadow-color;
  font-size: $font-size-xl;
  font-size: var(--font-size-xl);
  font-weight: bold;
  text-align: center;

  border: 0 solid currentColor;
}

/* Pagination */

.pagination {
  text-align: center;

  > *  {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;

    + *  {
      margin-left: 0.75rem;
    }
  }
}

/* Entry Header */

.entry-header {
  * + * {
    margin-top: 0.75em;
  }

  .entry-timestamp,
  .entry-byline {
    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
  }
}

/* Entry Footer */

.entry-footer {
  address {
    margin-top: 3em;

    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
    font-style: normal;
  }

  * + .summary--staff {
    margin-top: 3em;
  }
}

/* Staff Bio */

.staff-bio {
  @include clearfix;

  > * + * {
    margin-top: 0.375rem;
  }

  &--title {
    font-style: italic;
  }

  &--title,
  address {
    font-size: $font-size-sm;
    font-size: var(--font-size-sm);
  }

  p {
    margin-top: 0.75em;
  }

  address {
    font-style: normal;
  }

  .flexible-image {
    width: 7.5rem;
    height: 7.5rem;

    float: left;
    margin: 0 1.5rem 1.5rem 0;

    border-radius: 100%;
    shape-outside: border-box;
    shape-margin: 1.5rem;

    ~ * {
      padding-left: 3.75rem;
    }
  }
}

/* Staff List */

.staff-list {
  @include clear-list-styling;

  > * + * {
    margin-top: 3rem;
  }
}
