@import '../_base';

.author-bio {
  font-size: $font-size-sm;
  font-style: normal;
  text-align: center;

  img {
    display: block;
    height: 3 * $vertical-rhythm;
    margin: 0 auto;
    max-width: 100%;
    width: 3 * $vertical-rhythm;

    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }

  &__avatar-link {
    display: block;
  }

  @include small-screen {
    text-align: left;

    &::after {
      content: '';

      display: table;
      clear: both;
    }

    img {
      margin-right: $space-sm;

      float: left;
      shape-outside: border-box;
      shape-margin: $space-sm;
    }
  }
}
