@import '../_base';

.copyright {
  margin-top: 4rem;

  small {
    font-size: $font-size-xs;
  }

  p {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    margin: 0 0 1em 0;
    width: auto;
  }
}
