@import '../_base';

.entry-titles {
  .title {
    margin-bottom: 0;
    font-size: $font-size-xl;
    line-height: 1.365333333333333;
    line-height: $line-height-xl;

    a {
      padding: 0;

      color: $color-primary;
      text-decoration: none;

      &:focus,
      &:hover {
        background: none;
        color: $color-primary-dark;
      }
    }
  }

  .subtitle {
    margin-top: $space-xxs;

    font-size: $font-size-sm;
  }
}
