@import '../_base';

.entry-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $font-size-xs;

  .entry-titles {
    flex: 1 1 100%;
    margin-bottom: $space-sm;
  }

  .entry-byline {
    display: block;
    margin: 0 $space-md-relative $space-xs-relative 0;
  }

  .entry-timestamp {
    margin: 0;
  }
}
