@import '../_base';

.entry-body {
  margin: $space-sm auto 0 auto;
  font-size: $font-size-sm;
  line-height: 1.6;

  h2,
  h3,
  h4 {
    margin-bottom: $space-xs-relative;

    color: $color-secondary;

    + p {
      margin-top: $space-xs-relative;
    }
  }

  h2 {
    font-size: $font-size-lg;
  }

  h3 {
    font-size: $font-size-md;
  }

  h4 {
    font-size: $font-size-sm;
  }

  p {
    margin: 0;
  }

  * + p {
    margin-top: $space-sm-relative;
  }

  img {
    @include drop-shadow;

    display: block;
    max-width: 100%;
    max-height: 90vh;
    margin: $space-sm auto;
    border-radius: $border-radius;

    &[src='http://files.anigamers.com-a.googlepages.com/star.gif'],
    &[src='http://files.anigamers.com-a.googlepages.com/star-half.gif'],
    &[src='http://files.anigamers.com-a.googlepages.com/star-open.gif'] {
      display: inline;

      box-shadow: none;
    }
  }

  audio {
    width: 100%;
  }

  iframe,
  img,
  object,
  video {
    max-width: 100%;
  }

  iframe,
  video {
    @include drop-shadow;

    display: block;
    margin: $space-sm-relative auto;
    max-height: $vertical-rhythm * 25;

    border-radius: $border-radius;
  }

  video {
    height: auto;
    width: auto;
  }

  .image-pair {
    img {
      margin: 0;
    }

    * + img {
      margin-top: $space-sm-relative;

      @supports (display: grid) {
        margin-top: 0;
      }
    }
  }
}
