@import '../_base';

.main-menu {
  display: none;
  padding: 0;
  order: 3;
  display: none;
  flex-wrap: wrap;
  width: 100%;

  nav {
    font-size: $font-size-sm;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  .site-sections {
    display: flex;
    font-size: $font-size-sm;
  }

  .meta-links {
    margin-top: 0;

    li > a {
      width: $space-md;
      height: $space-md;
    }
  }
}
