@import '../_base';

.page-links {
  font-size: $font-size-md;
  padding: 0 $space-sm-relative;
  text-align: center;

  .curr-page {
    margin: 0 $space-sm-relative;
  }

  a {
    @include drop-shadow;

    display: inline-block;
    height: $space-md-relative;
    margin-bottom: $space-xxs-relative;
    overflow: hidden;
    vertical-align: middle;
    width: $space-md-relative;

    text-decoration: none;

    background: $primary-color;
    color: $secondary-base-color;

    border-radius: $space-sm-relative;

    &:hover {
      @include drop-shadow(1);

      background: $color-primary-dark;
    }

    &::before {
      box-sizing: border-box;
      display: block;
      height: 100%;
      width: 100%;

      font-weight: bold;
      line-height: 1.4em;
    }
  }

  .prev-link::before {
    content: '\003c';
    padding-right: 0.1em;
    padding-right: 0.2ch;
  }

  .next-link::before {
    content: '\003e';
    padding-left: 0.1em;
    padding-left: 0.2ch;
  }
}
