@import '../_base';

.podcast-episode-list {
  th {
    text-align: left;
  }

  th,
  td {
    padding: $space-xs-relative 0;
    vertical-align: top;
  }

  * + th,
  * + td {
    padding-left: $space-md-relative;
  }
}
