@import '../_base';

.sidebar {
  @include drop-shadow;

  box-sizing: border-box;
  display: block;
  width: 100%;
  float: right;
  margin: $space-sm-relative 0;
  border-radius: $border-radius;
  padding: gridsystem-gutter-width();
  background: $color-primary-dark;
  color: white;
  font-size: $font-size-xs;

  h1 {
    font-size: $font-size-sm;
  }

  img {
    box-shadow: none;
    max-width: 100%;
  }

  a {
    color: $color-gray-primary;

    &:hover {
      background: white;
      color: $color-primary-dark;
    }
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}