@import '../_base';

.simple-text-form {
  align-items: center;
  display: block;
  display: flex;

  > * {
    float: left;

    + * {
      margin-left: $space-sm;
    }
  }

  &::after {
    content: '';
    clear: both;
    overflow: hidden;
    display: table;
  }
}
