@import '../_base';

.site-sections {
  @include clear-spacing;

  display: flex;
  font-size: $font-size-sm;
  list-style: none;

  a {
    color: $color-primary;
    display: block;
    padding: $space-xxs-relative $space-sm-relative;

    &:visited {
      color: $color-primary-dark;
    }

    &:active,
    &:focus,
    &:hover {
      color: white;
      background: $color-primary;
      text-decoration: underline;
      text-decoration: underline solid $color-primary;

      &:visited {
        background: $color-primary-dark;
        text-decoration: underline;
        text-decoration: underline solid $color-primary-dark;
      }
    }
  }
}
