@import '../_base';

.site-sections {
  display: flex;
  font-size: 1rem;

  a {
    color: $primary-color;
    display: block;
    padding: 0.3em 0.7em;

    &:visited {
      color: $primary-dark-color;
    }

    &:active,
    &:focus,
    &:hover {
      color: $secondary-base-color;
      background: $primary-color;
      text-decoration: underline;
      text-decoration: underline solid $primary-color;

      &:visited {
        background: $primary-dark-color;
        text-decoration: underline;
        text-decoration: underline solid $primary-dark-color;
      }
    }
  }
}
