@import '../_base';

.entry-byline {
  font-style: normal;

  &.-with-list {
    flex: 0 1 auto;

    ul {
      @include clear-spacing;
      @include comma-list(true);

      display: inline;
      list-style: none;
    }
  }
}
