@import '../_base';

.logo {
  @include column(4);
  @include push(2);
  @include pull(2);

  flex-grow: 1;
  order: 1;
  align-self: center;
  margin: 0 1rem;
  text-align: center;

  a {
    display: inline-block;
    max-width: 13.5rem;

    &:active,
    &:focus,
    &:hover {
      background: none;
    }
  }

  img {
    width: 100%;

    &:hover {
      @include filter-drop-shadow;
    }
  }
}
