@import '../_base';

.logo {
  @include column(4);
  @include push(2);
  @include pull(2);

  align-content: center;
  align-self: center;
  display: block;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0 $space-sm;
  order: 1;

  text-align: center;

  a {
    display: block;
    max-width: 8 * $vertical-rhythm;

    &:active,
    &:focus,
    &:hover {
      background: none;
    }
  }

  img {
    display: block;
    width: 100%;

    &:hover {
      @include filter-drop-shadow;
    }
  }
}
