@import '../_base';

.pull-quote-2017 {
  @include emphasis-font;
  @include text-drop-shadow;

  display: block;
  margin: $space-sm-relative 0;

  font-size: $font-size-x-larger;
  font-weight: bold;
  text-align: center;

  color: $color-primary-dark;
  border: 0 solid currentColor;
}
