@import '../_base';

.pull-quote-2017 {
  @include emphasis-font;

  border: 0 solid currentColor;
  color: $color-primary-dark;
  display: block;
  font-size: $font-size-x-larger;
  font-weight: bold;
  margin: $space-sm-relative 0;
  text-align: center;
}
