@import '../_base';

.pull-quoted {
  &::before {
    @include emphasis-font;
    @include text-drop-shadow;

    content: attr(data-ag-pull-quote);
    display: block;
    padding: 0 $space-xs-relative;
    text-align: center;
    font-size: $font-size-larger;
    font-weight: bold;
    margin: $space-sm-relative 0;
    color: $color-primary-dark;
    border: 0 solid currentColor;
  }

  &.type-start::before {
    border-width: $entry-border-width 0 0 0;
    padding: $space-xs-relative 0 0 0;
  }

  &.type-end::before {
    border-width: 0 0 $entry-border-width 0;
    padding: 0 0 $space-xs-relative 0;
  }

  &.type-emphasize::before {
    border-width: $entry-border-width 0;
    padding: $space-xs-relative 0;
  }
}
