<ul class="podcast-link-list">
  <li>
    <a href="">RSS Feed</a>
  </li>

  <li>
    <a href="">iTunes</a>
  </li>

  <li>
    <a href="">Stitcher</a>
  </li>

  <li>
    <a href="">Google Music</a>
  </li>

  <li>
    <a href="">Email us!</a>
  </li>

  <li>
    <a href="">Join our Discord!</a>
  </li>
</ul>
