<section class="podcast-details">
  <div class="summary">
    <img src="http://files.anigamers.com-a.googlepages.com/pcast_img.jpg">

    <h1>
      <a href="">Ani-Gamers Podcast</a>
    </h1>

    <div class="summary__description">
      <p>Discussion, analysis, and sardonic commentary about anime, manga, and video games old and new, hosted by Evan Minto and David Estrella. Guests include reviewers, industry folks, and fellow podcasters. New episodes every two weeks.</p>
      <p>Discussion, analysis, and sardonic commentary about anime, manga, and video games old and new, hosted by Evan Minto and David Estrella. Guests include reviewers, industry folks, and fellow podcasters. New episodes every two weeks.</p>
    </div>
  </div>

  {{render '@podcast-link-list'}}
  {{render '@podcast-episode-list'}}
</section>
