<aside class="suggested-entries">
  <h1>You Might Also Like</h1>

  <ul id="suggested_entries_list" class="suggested-entries-list">
    <li>
      {{render '@suggested-entry'}}
    </li>

    <li>
      {{render '@suggested-entry'}}
    </li>
  </ul>
</aside>
