<nav class="page-links">
  <a class="prev-link" href="?p=1" rel="prev">
    <span class="link-text">Previous</span>
  </a>

  <span class="curr-page">Page 2</span>

  <a class="next-link" href="?p=3" rel="next">
    <span class="link-text">Next</span>
  </a>
</nav>
